<div id="about-james">
  <div class="container">
    <div class="head">
      {{!-- <div class="small-header">in</div> --}}
      <h2>In Loving Memory</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <ul id="slider"></ul>
      </div>
      <div class="col-md-6">
        <div class="info">
          <h3>James Kayler</h3>
          <p>James fought a long journey courageously and a beyond brave battle with Ehlers-Danlos Syndrome (EDS). James was the type of person that could not only light up a room but capture the genuine good side in every single person he met. Within minutes he could have anyone laughing and sinking into his wholesome genuine charm. To say James was unique does not do justice; he was one of a kind. He always looked out for others, instead of himself. James always kept a positive outlook on life, even in his darkest days. His journey continues through us and the war to find a cure for EDS.</p>
        </div>
      </div>
    </div>
  </div>
</div>