<section class="admin-page__subscribers">
  {{!-- <h3 class="title">Subscribers</h3>
  <div class="submenu clearfix">
    <div class="item">
      <a href="https://us11.admin.mailchimp.com/campaigns/create/" class="btn btn-default btn-xs">Send Mass Email</a>
    </div>
  </div> --}}
  <h1 class="page-header">
    All
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <i class="fa fa-dashboard"></i>  <a href="/admin">Dashboard</a>
    </li>
    <li class="active">
      <i class="fa fa-database"></i> All
    </li>
  </ol>

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quibusdam voluptatem aut, et nobis, quasi. Porro fuga, voluptatem minima accusantium facilis aut autem totam at voluptatibus fugiat officiis aliquam sint, excepturi, impedit? Enim, sapiente, voluptatum! Eos nam, optio vel quos?

</section>