<section class="admin-page__subscribers">
  <div class="container">
    <h1 class="page-header">
      Subscribers
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li class="active">
        <i class="fa fa-users"></i> Subscribers
      </li>
      <li>
        <a href="/subscribers/new">
          <i class="fa fa-plus"></i>
          New
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-plus"></i>
          Send Mass Email
        </a>
      </li>

    </ol>
    {{#if subscribers}}
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {{#each subscribers}}
          <tr>
            <td class="jdate" data-dateOrig="{{added_on}}"></td>
            <td>{{full_name}}</td>
            <td>{{email}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</section>