<hr>
<div id="blog_preview">

  <div class="smaller-fluid-container">
    <h2>Recent Updates</h2>
    <div class="small-line"></div>
    <div class="meta">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, ad dolorum nulla modi? You got  big enough joint there, Rick. Fuck off.</div>
  </div>

  <div class="preview">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="blog">
          <div class="opacity-full">
            <div class="image" data-image="http://netdna.webdesignerdepot.com/uploads/2008/12/stock-microstock.jpg"></div>
            <div class="title">Blog Entry Title</div>
            <div class="caption">Lorem ipsum dolor sit amet, consectetur.</div>
            <div class="date">12/20/2015</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="blog">
          <div class="opacity-full">
            <div class="image" data-image="http://img06.deviantart.net/25de/i/2012/134/3/1/037_by_koko_stock-d4zq28i.jpg"></div>
            <div class="title">Blog Entry Title 2</div>
            <div class="caption">Lorem ipsum dolor sit amet, consectetur.</div>
            <div class="date">12/20/2015</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="blog">
          <div class="opacity-full">
            <div class="image" data-image="http://img14.deviantart.net/f45d/i/2013/120/9/f/rain_texture1_by_koko_stock-d63l05s.jpg"></div>
            <div class="title">Blog Entry Title 2</div>
            <div class="caption">Lorem ipsum dolor sit amet, consectetur.</div>
            <div class="date">12/20/2015</div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>