<div id="eds-preview">
  <div class="container">
    <header>
      <h2>eds</h2>
      <h3>(ehlers-danlos syndrome)</h3>
    </header>

    <div class="small-line"></div>

    <p>
      Ehlers-Danlos syndrome is a group of disorders that affect connective tissues, which are tissues that support the skin, bones, blood vessels, and other organs. Defects in connective tissues cause the signs and symptoms of Ehlers-Danlos syndrome, which vary from mildly loose joints to life-threatening complications.
    </p>
  </div>
</div>