<div class="featured-posts">
  <div class="fluid-container">
    <h2>Featured Posts</h2>
    <div class="row">
      {{!-- Assuming server response contains featured --}}
      {{#each featured}}
        <div class="col-xs-12 col-sm-6 col-md-3">
          <a class="post" href="/blog/{{slug}}">
            <div class="image">
              <img src="{{coverImage}}">
            </div>
            <div class="title">
              {{title}}
            </div>
          </a>
        </div>
      {{/each}}
    </div>
  </div>
</div>