<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="foot foot1o4">
          <div class="logo">
            <img src="//dft010l2k5dxv.cloudfront.net/SmallLogoWhite.png" />
          </div>
          <h3>James' Journey</h3>
          <div class="copyw">
            <p>&copy; james4eds All rights reserved</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="foot foot2o4">
          <div class="row">
            <div class="col-md-6 col-xs-6">
              <ul class="left-list">
                <li><a href="/events">Get involved</a></li>
                <li><a href="/donate">Donate</a></li>
                <li><a href="/our-work">Our Work</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/gallery">Gallery</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-xs-6">
              <ul class="right-list">
                <li><a href="/our-team">Our Team</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/terms-of-service">Terms of Service</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      {{!-- <div class="col-md-2">
        <div class="foot foot3o4">
          <h4>Follow Us</h4>
          <ul>
            <li class="social facebook">
              <a href="#">
                <i class="fa fa-facebook-square fa-3x"></i>
              </a>
            </li>
            <li class="social instagram">
              <a href="#">
                <i class="fa fa-instagram fa-3x"></i>
              </a>
            </li>
            <li class="social twitter">
              <a href="#">
                <i class="fa fa-twitter-square fa-3x"></i>
              </a>
            </li>
          </ul>
        </div>
      </div> --}}

      <div class="col-md-4">
        <div class="foot foot4o4">
          <h4>Reach us</h4>
          <div class="contact">
            <div class="name">George Washington</div>
            <div class="email">info@james4eds.com</div>
            <div class="phone">+12245637676</div>
          </div>
          <div class="contact">
            <div class="name">Benjamin Franklin</div>
            <div class="email">info@james4eds.com</div>
            <div class="phone">+12245637676</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>