<footer id="footer">
  <div class="fluid-container">
    <span class="copyright">
      @2015 James Journey
    </span>
    <span class="phone">
      224.563.7611
    </span>
    <span class="social">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-youtube-play"></i></a>
      <a href="#"><i class="fa fa-envelope"></i></a>
    </span>
  </div>
</footer>