<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="foot foot1o4">
          <div class="logo">
            <img src="/img/jjsmalllogo.png" alt="">
          </div>
          <h3>James' Journey</h3>
          <div class="copyw">
            <p>&copy; james4eds All rights reserved</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="foot foot2o4">
          <div class="row">
            <div class="col-md-6 col-xs-6">
              <ul class="left-list">
                <li><a href="#">Get involved</a></li>
                <li><a href="#">Donate</a></li>
                <li><a href="#">Our Work</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Gallery</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-xs-6">
              <ul class="right-list">
                <li><a href="#">Our Team</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Terms of Service</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="foot foot3o4">
          <h4>Follow Us</h4>
          <ul>
            <li class="social facebook">
              <a href="#">
                <i class="fa fa-facebook-square fa-3x"></i>
              </a>
            </li>
            <li class="social instagram">
              <a href="#">
                <i class="fa fa-instagram fa-3x"></i>
              </a>
            </li>
            <li class="social twitter">
              <a href="#">
                <i class="fa fa-twitter-square fa-3x"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="foot foot4o4">
          <h4>Reach us</h4>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolorum, odio non harum perferendis molestiae culpa ut voluptatem autem eligendi.
        </div>
      </div>
    </div>
  </div>
</footer>