
<div id="jumbotron">
  <div class="container">
    <div class="jjlogo">
      <img src="/img/jjsmalllogo.png" alt="">
      <h1>James' Journey</h1>
    </div>
  </div>
</div>


<!--
<div class="short-description">
  <p>we are a non-profit organization created to raise awareness, support, research, and understand the rare genetics disorder Ehlers-Danlos Syndrome(EDS). In honor of James Kaylor(1990-2014)</p>
</div>
-->