
<div id="jumbotron" class="lazy" data-src="https://dft010l2k5dxv.cloudfront.net/jumbo-background-texture.jpg">
  <div class="container">
    {{!-- <div class="jjlogo">
      <img src="https://dft010l2k5dxv.cloudfront.net/SmallLogo.png" alt="James\'s Journey">
      <h1>James' Journey</h1>
    </div> --}}
    <div class="jjlogo2">
      <img src="https://dft010l2k5dxv.cloudfront.net/jumbo-logo-header.png" alt="">
    </div>
  </div>
</div>


<!--
<div class="short-description">
  <p>we are a non-profit organization created to raise awareness, support, research, and understand the rare genetics disorder Ehlers-Danlos Syndrome(EDS). In honor of James Kaylor(1990-2014)</p>
</div>
-->