
<div id="jumbotron">
  <div class="container">
    {{!-- <div class="jjlogo">
      <img src="//dft010l2k5dxv.cloudfront.net/SmallLogo.png" alt="James\'s Journey">
      <h1>James' Journey</h1>
    </div> --}}
    <div class="jjlogo2">
      <img src="https://lh6.googleusercontent.com/-DeqqykHVKOY/VyAfcJ4kvzI/AAAAAAAAAS4/kejgR9Qfy50gvKNd4-KHPEj68hQ4v2b9QCL0B/w726-h395-no/JJ_LogoB-04-04.png" alt="">
    </div>
  </div>
</div>


<!--
<div class="short-description">
  <p>we are a non-profit organization created to raise awareness, support, research, and understand the rare genetics disorder Ehlers-Danlos Syndrome(EDS). In honor of James Kaylor(1990-2014)</p>
</div>
-->