
<div id="jumbotron">
  <div class="container">
    <div class="jjlogo">
      <img src="/img/jjlogo.png" alt="">
    </div>
    <div class="short-description">
      {{!-- <div class="small-line"></div> --}}
      <p>we are a non-profit organization created to raise awareness, support, research, and understand the rare genetics disorder Ehlers-Danlos Syndrome(EDS). In honor of James Kaylor(1990-2014)</p>
    </div>
  </div>
</div>