
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="fluid-container">
    <a class="navbar-brand" href="/">James' Journey</a>
    <div class="menu-btn open-right">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</nav>

<div off-canvas="sb-1 right reveal" id="offcanvas-menu">
  <!-- Right Slidebar content -->
  <ul class="offcanvas-nav">
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Our Story</a>
    </li>
    <li>
      <a href="#">About EDS</a>
    </li>
    <li>
      <a href="#">Our Team</a>
    </li>
    <li>
      <a href="#">Blog</a>
    </li>
    <li>
      <a href="#">Events</a>
    </li>
  </ul>

  <ul class="offcanvas-subnav">
    <li><a href="#">Donate</a></li>
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Contact us</a></li>
  </ul>

  <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>

  <a href="https://twitter.com/patmedersen" class="twitter-follow-button" data-show-count="false">Follow @patmedersen</a>

</div>