
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="fluid-container">
    <a class="navbar-brand" href="/">James' Journey</a>
    <div class="menu-btn">&#9776; Menu</div>
  </div>
</nav>