
<header class="site-header">
  <a href="/" id="header-logo-link"></a>
  <a href="#" id="header-menu-link">Menu <i class="fa fa-bars"></i></a>
</header>

<nav id="nav-menu">
    <div class="wrap">
    <h3>James Journey</h3>
    <ul class="list top-list">
      <li class="link large-link"><a href="#">Home</a></li>
      <li class="link large-link"><a href="#">Get Involved</a></li>
      <li class="link large-link"><a href="#">Donate</a></li>
      <li class="link large-link"><a href="#">Our Work</a></li>
      <li class="link large-link"><a href="#">Events</a></li>
      <li class="link large-link"><a href="#">Blog</a></li>
      <li class="link large-link"><a href="#">Gallery</a></li>
    </ul>

    <br>

    <ul class="list bottom-list">
      <li class="link small-link"><a href="#">Our Team</a></li>
      <li class="link small-link"><a href="#">Contact</a></li>
      <li class="link small-link"><a href="#">Privacy</a></li>
      <li class="link small-link"><a href="#">Terms of Service</a></li>
    </ul>
  </div>
</nav>