
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="fluid-container">
    <a class="navbar-brand" href="/">James' Journey</a>
    <div class="menu-btn open-right">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</nav>

<div off-canvas="sb-1 right reveal" id="offcanvas-menu">
  <!-- Right Slidebar content -->
  <h3>Hello there</h3>
</div>