
<header class="site-header">
  <a href="/" id="header-logo-link"></a>
  <a href="#" id="header-menu-link">Menu <i class="fa fa-bars"></i></a>
</header>

<nav id="nav-menu">
    <div class="wrap">
    <ul>
      <li>hi</li>
      <li>hi</li>
      <li>hi</li>
      <li>hi</li>
      <li>hi</li>
    </ul>
  </div>
</nav>