{{!--
<div class="sidebar-cont">
  <!-- menu icon and logo -->
  <a href="#" class="nav-link">
    <i class="fa fa-bars"></i>
    <span>James4Eds</span>
  </a>
  <!-- nav menu -->
  <ul class="nav-list">
    <li>
      <a href="#" class="active">
      <i class="fa fa-home"></i>
      <span>Home</span>
      </a>
    </li>
    <li>
      <a href="#">
      <i class="fa fa-arrow-circle-o-right"></i>
      <span>About</span>
      </a>
    </li>
    <li>
      <a href="#">
      <i class="fa fa-phone"></i>
      <span>Contact</span>
      </a>
    </li>
  </ul>
  <div class="nav-info">
    <div class="title"><strong>Get Social</strong></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
</div>
--}}