
<div id="navbar">
  <div class="navbar-container">
    <div class="row">
      <div class="col-md-6">
        <div class="logo">LOGO</div>
      </div>
      <div class="col-md-6">
        <div class="slide-menu-icon">
          <div class="menu-btn">&#9776; Menu</div>
        </div>
      </div>
    </div>
  </div>
</div>