<div id="programs-slider">

  <div class="container">
    <div class="head">
      <h2>We're pursuing peace</h2>
      <p>We are ending the LRA conflict in the only way we know how: through innovative programs that protect communities in central Africa.</p>
    </div>
  </div>

  <div class="container-fluid">

    {{!--
      our work
      our team
      get involved
      donate
      contact us
     --}}

    <div class="slider">

      <a href="/our-work" class="program program1">
        <div class="bg">
          <img class="saturated-img" src="/img/ourWork_Color.jpg" alt="">
          <img class="desaturated-img" src="/img/ourWork_BW.jpg" alt="">
        </div>
        <div class="content">
          <div class="title">
            <p>Our Work</p>
          </div>
          <p class="icon" align="center">
            <img src="/img/Our_Work_Icon.png">
          </p>
        </div>
      </a>

      <a href="/our-team" class="program program2">
        <div class="bg">
          <img class="saturated-img" src="/img/OurTeam_Color.jpg" alt="">
          <img class="desaturated-img" src="/img/OurTeam_BW.jpg" alt="">
        </div>
        <div class="content">
          <div class="title">
            <p>Our Team</p>
          </div>
          <p class="icon" align="center">
            <img src="/img/Our_Team_Icon.png">
          </p>
        </div>
      </a>

      <a href="/events" class="program program3">
        <div class="bg">
          <img class="saturated-img" src="/img/GetInvolved_Color.jpg" alt="">
          <img class="desaturated-img" src="/img/GetInvolved_BW.jpg" alt="">
        </div>
        <div class="content">
          <div class="title">
            <p>Get Involved</p>
          </div>
          <p class="icon" align="center">
            <img src="/img/Get_Involved_Icon.png">
          </p>
        </div>
      </a>

      <a href="/donate" class="program program4">
        <div class="bg">
          <img class="saturated-img" src="/img/Donate_Color.jpg" alt="">
          <img class="desaturated-img" src="/img/Donate_BW.jpg" alt="">
        </div>
        <div class="content">
          <div class="title">
            <p>Donate</p>
          </div>
          <p class="icon" align="center">
            <img src="/img/Donate_Icon.png">
          </p>
        </div>
      </a>

      <a href="/contact-us" class="program program5">
        <div class="bg">
          <img class="saturated-img" src="/img/ContactUs_Color.jpg" alt="">
          <img class="desaturated-img" src="/img/ContactUs_BW.jpg" alt="">
        </div>
        <div class="content">
          <div class="title">
            <p>Contact Us</p>
          </div>
          <p class="icon" align="center">
            <img src="http://webinvisible.wpengine.netdna-cdn.com/wp-content/uploads/2014/06/icon-crisis-tracker-01.svg">
          </p>
        </div>
      </a>

    </div>


  </div>
</div>