<div id="programs-slider">

  <div class="container">
    <div class="head">
      <h2>Join the Fight against EDS</h2>
      <p>we are a non-profit organization created to raising awareness, support, research, and understand the rare genetics disorder: Ehlers-Danlos Syndrome (EDS).</p>
    </div>
  </div>

  <div class="container-fluid">

    {{!--
      our work
      our team
      get involved
      donate
      contact us
     --}}

    <div class="slider">

      <a href="/our-work" class="program program1">
        <div class="bg">
          <img class="saturated-img" src="//dft010l2k5dxv.cloudfront.net/OurWork_Color.jpg" />
          <img class="desaturated-img" src="//dft010l2k5dxv.cloudfront.net/OurWork_BW.jpg" />
          <div class="img-overlay"></div>
        </div>
        <div class="content">
          <div class="title">
            <p>Our Work</p>
          </div>
          <p class="icon" align="center">
            <img src="//dft010l2k5dxv.cloudfront.net/OurWork_Icon.png">
          </p>
        </div>
      </a>

      <a href="/our-team" class="program program2">
        <div class="bg">
          <img class="saturated-img" src="//dft010l2k5dxv.cloudfront.net/OurTeam_Color.jpg" />
          <img class="desaturated-img" src="//dft010l2k5dxv.cloudfront.net/OurTeam_BW.jpg" />
        </div>
        <div class="content">
          <div class="title">
            <p>Our Team</p>
          </div>
          <p class="icon" align="center">
            <img src="//dft010l2k5dxv.cloudfront.net/OurTeam_Icon.png">
          </p>
        </div>
      </a>

      <a href="/events" class="program program3">
        <div class="bg">
          <img class="saturated-img" src="//dft010l2k5dxv.cloudfront.net/GetInvolved_Color.jpg" />
          <img class="desaturated-img" src="//dft010l2k5dxv.cloudfront.net/GetInvolved_BW.jpg" />
        </div>
        <div class="content">
          <div class="title">
            <p>Events</p>
          </div>
          <p class="icon" align="center">
            <img src="//dft010l2k5dxv.cloudfront.net/GetInvolved_Icon.png">
          </p>
        </div>
      </a>

      <a href="/donate" class="program program4">
        <div class="bg">
          <img class="saturated-img" src="//dft010l2k5dxv.cloudfront.net/Donate_Color.jpg" />
          <img class="desaturated-img" src="//dft010l2k5dxv.cloudfront.net/Donate_BW.jpg" />
        </div>
        <div class="content">
          <div class="title">
            <p>Donate</p>
          </div>
          <p class="icon" align="center">
            <img src="//dft010l2k5dxv.cloudfront.net/Donate_Icon.png">
          </p>
        </div>
      </a>

      <a href="/contact-us" class="program program5">
        <div class="bg">
          <img class="saturated-img" src="//dft010l2k5dxv.cloudfront.net/ContactUs_Color.jpg" />
          <img class="desaturated-img" src="//dft010l2k5dxv.cloudfront.net/ContactUs_BW.jpg" />
        </div>
        <div class="content">
          <div class="title">
            <p>Contact Us</p>
          </div>
          <p class="icon" align="center">
            <img src="//dft010l2k5dxv.cloudfront.net/ContactUs_Icon.png">
          </p>
        </div>
      </a>

    </div>


  </div>
</div>