
<div id="quote1">
  <h2>EDS is represented by a Zebra.</h2>
  <div class="small-line"></div>
  <p>Meaning it is a medical term for a rare condition. The reasoning behind the zebra in medicine is an explanation for physicians as to not diagnose rare conditions or exotic illnesses that are highly unlikely.</p>
</div>