
<div id="recent-updates">
  <div class="container">
    <div class="title">
      <h2>Recent Updates</h2>
      <div class="small-line"></div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row updates">
      <div class="col-md-3 update-container">
        <div class="update">
          <div>
            <div class="tags">
              {{!-- <div class="tag">Event</div> --}}
            </div>
            <a href="#" class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia.</a>
            <p>
              <span class="poster-name">
                <img src="//placehold.it/100x100" class="img-circle poster-image">Donald Duck
              </span>
              |
              <span class="poster-date">Nov 2, 2014</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 update-container">
        <div class="update">
          <div>
            <div class="tags">
              {{!-- <div class="tag">Event</div> --}}
            </div>
            <a href="#" class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia.</a>
            <p>
              <span class="poster-name">
                <img src="//placehold.it/100x100" class="img-circle poster-image">Donald Duck
              </span>
              |
              <span class="poster-date">Nov 2, 2014</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 update-container">
        <div class="update">
          <div>
            <div class="tags">
              {{!-- <div class="tag">Event</div> --}}
            </div>
            <a href="#" class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia.</a>
            <p>
              <span class="poster-name">
                <img src="//placehold.it/100x100" class="img-circle poster-image">Donald Duck
              </span>
              |
              <span class="poster-date">Nov 2, 2014</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 update-container">
        <div class="update">
          <div>
            <div class="tags">
              {{!-- <div class="tag">Event</div> --}}
            </div>
            <a href="#" class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia.</a>
            <p>
              <span class="poster-name">
                <img src="//placehold.it/100x100" class="img-circle poster-image">Donald Duck
              </span>
              |
              <span class="poster-date">Nov 2, 2014</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 update-container">
        <div class="update">
          <div>
            <div class="tags">
              {{!-- <div class="tag">Event</div> --}}
            </div>
            <a href="#" class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia.</a>
            <p>
              <span class="poster-name">
                <img src="//placehold.it/100x100" class="img-circle poster-image">Donald Duck
              </span>
              |
              <span class="poster-date">Nov 2, 2014</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 update-container">
        <div class="update">
          <div>
            <div class="tags">
              {{!-- <div class="tag">Event</div> --}}
            </div>
            <a href="#" class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia.</a>
            <p>
              <span class="poster-name">
                <img src="//placehold.it/100x100" class="img-circle poster-image">Donald Duck
              </span>
              |
              <span class="poster-date">Nov 2, 2014</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 update-container">
        <div class="update">
          <div>
            <div class="tags">
              {{!-- <div class="tag">Event</div> --}}
            </div>
            <a href="#" class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia.</a>
            <p>
              <span class="poster-name">
                <img src="//placehold.it/100x100" class="img-circle poster-image">Donald Duck
              </span>
              |
              <span class="poster-date">Nov 2, 2014</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 update-container">
        <div class="update">
          <div>
            <div class="tags">
              {{!-- <div class="tag">Event</div> --}}
            </div>
            <a href="#" class="name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia.</a>
            <p>
              <span class="poster-name">
                <img src="//placehold.it/100x100" class="img-circle poster-image">Donald Duck
              </span>
              |
              <span class="poster-date">Nov 2, 2014</span>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>