
<div id="recent-updates">
  <div class="container">
    <div class="title">
      <h2>Recent Updates</h2>
      <div class="small-line"></div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row updates">

      <div class="col-md-3 update-container">
        <div class="update">
          <div class="wrapper"> <!-- for overlay -->
            <div> <!-- to pull contents to bottom -->
              <div class="tags">
                <div class="tag label label-info">Event</div>
                <div class="tag label label-info">Event</div>
                <div class="tag label label-info">Event</div>
              </div>
              {{!-- <br> --}}
              <a href="#" class="post-title">This is a title for a blog post. How long can they get?</a>
              {{!-- <div class="descr">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi sint cumque tempora eaque consequuntur sapiente, nam iste. Facilis tempora perferendis placeat, eos?
              </div> --}}
              <p>
                <span class="poster-name">
                  <img src="//placehold.it/100x100" class="img-circle poster-image">Donald Duck
                </span>
                /
                <span class="poster-date">Nov 2, 2014</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 update-container">
        <div class="update">
          <div class="wrapper">
            <div>
              <div class="tags">
                <div class="tag label label-info">Event</div>
                <div class="tag label label-info">Event</div>
                <div class="tag label label-info">Event</div>
              </div>
              {{!-- <br> --}}
              <a href="#" class="post-title">This is a title for a blog post. How long can they get?</a>
              {{!-- <div class="descr">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi sint cumque tempora eaque consequuntur sapiente, nam iste. Facilis tempora perferendis placeat, eos?
              </div> --}}
              <p>
                <span class="poster-name">
                  <img src="//placehold.it/100x100" class="img-circle poster-image">Donald Duck
                </span>
                /
                <span class="poster-date">Nov 2, 2014</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 update-container">
        <div class="update">
          <div class="wrapper">
            <div>
              <div class="tags">
                <div class="tag label label-info">Event</div>
                <div class="tag label label-info">Event</div>
                <div class="tag label label-info">Event</div>
              </div>
              {{!-- <br> --}}
              <a href="#" class="post-title">This is a title for a blog post. How long can they get?</a>
              {{!-- <div class="descr">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi sint cumque tempora eaque consequuntur sapiente, nam iste. Facilis tempora perferendis placeat, eos?
              </div> --}}
              <p>
                <span class="poster-name">
                  <img src="//placehold.it/100x100" class="img-circle poster-image">Donald Duck
                </span>
                /
                <span class="poster-date">Nov 2, 2014</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 update-container">
        <div class="update">
          <div class="wrapper">
            <div>
              <div class="tags">
                <div class="tag label label-info">Event</div>
                <div class="tag label label-info">Event</div>
                <div class="tag label label-info">Event</div>
              </div>
              {{!-- <br> --}}
              <a href="#" class="post-title">This is a title for a blog post. How long can they get?</a>
              {{!-- <div class="descr">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi sint cumque tempora eaque consequuntur sapiente, nam iste. Facilis tempora perferendis placeat, eos?
              </div> --}}
              <p>
                <span class="poster-name">
                  <img src="//placehold.it/100x100" class="img-circle poster-image">Donald Duck
                </span>
                /
                <span class="poster-date">Nov 2, 2014</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 update-container">
        <div class="update">
          <div class="wrapper">
            <div>
              <div class="tags">
                <div class="tag label label-info">Event</div>
                <div class="tag label label-info">Event</div>
                <div class="tag label label-info">Event</div>
              </div>
              {{!-- <br> --}}
              <a href="#" class="post-title">This is a title for a blog post. How long can they get?</a>
              {{!-- <div class="descr">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi sint cumque tempora eaque consequuntur sapiente, nam iste. Facilis tempora perferendis placeat, eos?
              </div> --}}
              <p>
                <span class="poster-name">
                  <img src="//placehold.it/100x100" class="img-circle poster-image">Donald Duck
                </span>
                /
                <span class="poster-date">Nov 2, 2014</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 update-container">
        <div class="update">
          <div class="wrapper">
            <div>
              <div class="tags">
                <div class="tag label label-info">Event</div>
                <div class="tag label label-info">Event</div>
                <div class="tag label label-info">Event</div>
              </div>
              {{!-- <br> --}}
              <a href="#" class="post-title">This is a title for a blog post. How long can they get?</a>
              {{!-- <div class="descr">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi sint cumque tempora eaque consequuntur sapiente, nam iste. Facilis tempora perferendis placeat, eos?
              </div> --}}
              <p>
                <span class="poster-name">
                  <img src="//placehold.it/100x100" class="img-circle poster-image">Donald Duck
                </span>
                /
                <span class="poster-date">Nov 2, 2014</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 update-container">
        <div class="update">
          <div class="wrapper">
            <div>
              <div class="tags">
                <div class="tag label label-info">Event</div>
                <div class="tag label label-info">Event</div>
                <div class="tag label label-info">Event</div>
              </div>
              {{!-- <br> --}}
              <a href="#" class="post-title">This is a title for a blog post. How long can they get?</a>
              {{!-- <div class="descr">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi sint cumque tempora eaque consequuntur sapiente, nam iste. Facilis tempora perferendis placeat, eos?
              </div> --}}
              <p>
                <span class="poster-name">
                  <img src="//placehold.it/100x100" class="img-circle poster-image">Donald Duck
                </span>
                /
                <span class="poster-date">Nov 2, 2014</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 update-container">
        <div class="update">
          <div class="wrapper">
            <div>
              <div class="tags">
                <div class="tag label label-info">Event</div>
                <div class="tag label label-info">Event</div>
                <div class="tag label label-info">Event</div>
              </div>
              {{!-- <br> --}}
              <a href="#" class="post-title">This is a title for a blog post. How long can they get?</a>
              {{!-- <div class="descr">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi sint cumque tempora eaque consequuntur sapiente, nam iste. Facilis tempora perferendis placeat, eos?
              </div> --}}
              <p>
                <span class="poster-name">
                  <img src="//placehold.it/100x100" class="img-circle poster-image">Donald Duck
                </span>
                /
                <span class="poster-date">Nov 2, 2014</span>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>