<div id="short-description">
  <div class="container">
    <h2>James' Journey</h2>
    <div class="small-line"></div>
    <p>is a non-profit organization created to raise awareness, support, research, and understand the rare genetics disorder Ehlers-Danlos Syndrome(EDS). In honor of James Kaylor(1990-2014)</p>
  </div>
</div>