<div id="twitter-slider" class="carousel slide">
  <div class="overlay-bg"></div>
  <div class="container">
    <div class="twitter-icon">
      <i class="fa fa-twitter"></i>
    </div>

    <ol class="carousel-indicators">
      {{!-- append indicators here --}}
    </ol>

    <div class="carousel-inner">
      {{!-- append items here --}}
    </div>
  </div>
</div>