<div id="we_need_you">

  <div class="smaller-fluid-container">
    <h2>We Need You</h2>
    <div class="small-line"></div>
    <div class="meta">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, ad dolorum nulla modi? You got  big enough joint there, Rick. Fuck off.</div>
  </div>


  <div class="fluid-container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="need-item">
          <div class="circular">
            <img src="http://placehold.it/500x500">
          </div>
          <p>Lorem ipsum dolor sit amet hie tup, consece adipisis elit. Est, optin</p>
          <div class="centered">
            <a href="#" class="btn btn-default">Get Involved</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="need-item">
          <div class="circular">
            <img src="http://placehold.it/500x500">
          </div>
          <p>Lorem ipsum dolor sit amet hie tup, consece adipisis elit. Est, optin</p>
          <div class="centered">
            <a href="#" class="btn btn-default">Donate</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="need-item">
          <div class="circular">
            <img src="http://placehold.it/500x500">
          </div>
          <p>Lorem ipsum dolor sit amet hie tup, consece adipisis elit. Est, optin</p>
          <div class="centered">
            <a href="#" class="btn btn-default">Our Work</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>