<div id="we-need-you">

  <div class="container">
    <h2>We Need You</h2>
    <p class="sub-title">To help us raise awareness</p>
    <div class="small-line"></div>
  </div>


  <div class="container">
    <div class="row need-items">
      <div class="col-md-4 col-sm-12">
        <div class="need-item">
          <div class="circular">
            <img src="http://placehold.it/500x500">
          </div>
          <p>Lorem ipsum dolor sit amet hie tup, consece adipisis elit. Est, optin</p>
          <div class="centered">
            <a href="#" class="btn btn-default">Get Involved</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="need-item">
          <div class="circular">
            <img src="http://placehold.it/500x500">
          </div>
          <p>Lorem ipsum dolor sit amet hie tup, consece adipisis elit. Est, optin</p>
          <div class="centered">
            <a href="#" class="btn btn-default">Donate</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="need-item">
          <div class="circular">
            <img src="http://placehold.it/500x500">
          </div>
          <p>Lorem ipsum dolor sit amet hie tup, consece adipisis elit. Est, optin</p>
          <div class="centered">
            <a href="#" class="btn btn-default">Our Work</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>