
<div id="404-page">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="well">
          <h2>The page <strong>{{url}}</strong> can't be found.</h2>
        </div>
      </div>
    </div>
  </div>
</div>