<div id="blogs">

  <div class="jumbotron">
    <h1>Blog</h1>
  </div>

  <div class="container">

    {{#if notice}}
      <div class="alert alert-info">
        <b>{{notice}}</b>
      </div>
    {{/if}}

    {{#each blogs}}
      <div class="blog-container">
        <h3><a href="/blog/{{_id}}">{{title}}</a></h3>
        <p>{{{content}}}</p>
      </div>
    {{/each}}

  </div>

</div>