<div id="blogs">

  <div class="jumbotron">
    <h1>Blog</h1>
  </div>

  <div class="container">

    {{#if notice}}
      <div class="alert alert-info">
        <b>{{notice}}</b>
      </div>
    {{/if}}


    <form id="blog-form" action="/blog" method="post">
      <div class="form-group">
        <input type="text" class="form-control" name="title" placeholder="Enter title...">
      </div>
      <div class="form-group">
        <textarea name="content" class="form-control" placeholder="Enter content..."></textarea>
      </div>
      <input type="submit" class="btn" value="Submit">
    </form>


    {{#each blogs}}
      <div class="blog-container">
        <h3><a href="/blog/{{_id}}">{{title}}</a></h3>
        <p>{{{content}}}</p>
      </div>
    {{/each}}

  </div>

</div>