<div id="blogs">

  <div class="jumbotron" style="background-image: url({{blog.coverImage}}); background-size: cover; background-position: center;">
      <div class="smaller-fluid-container">
        <h1 class="title">The Blog Index Title</h1>
        
      </div>
    </div>

  <div class="smaller-fluid-container">

    {{#each blogs}}
      <div class="blog-container">
        <h3><a href="/blog/{{slug}}">{{title}}</a></h3>
        <p>{{{content}}}</p>
      </div>
    {{/each}}

  </div> {{!-- end container --}}

</div>