<div id="contact-us">

  <div class="jumbohead">

    <div class="container">
      <div class="overlay-bg"></div>
      <div class="head">
        <p class="icon" align="center">
          <img src="http://webinvisible.wpengine.netdna-cdn.com/wp-content/uploads/2014/06/icon-crisis-tracker-01.svg">
        </p>
        <h1>Contact Us</h1>
      </div>
    </div>

  </div>

  <div class="addr-bullets">
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <div class="addr-bullet">
            <h3>Headquarters</h3>
            <div class="addr">
              <p class="street">1331 West Windhill Drive,</p>
              <p class="citystatezip">Palatine, IL 60067</p>
            </div>
            <div class="email">
              <strong>Email:</strong>
              hello@fakeemail.com
            </div>
            <div class="phone">
              <strong>Phone:</strong>
              +11231231234
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="addr-bullet">
            <h3>Headquarters</h3>
            <div class="addr">
              <p class="street">1331 West Windhill Drive,</p>
              <p class="citystatezip">Palatine, IL 60067</p>
            </div>
            <div class="email">
              <strong>Email:</strong>
              hello@fakeemail.com
            </div>
            <div class="phone">
              <strong>Phone:</strong>
              +11231231234
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="addr-bullet">
            <h3>Headquarters</h3>
            <div class="addr">
              <p class="street">1331 West Windhill Drive,</p>
              <p class="citystatezip">Palatine, IL 60067</p>
            </div>
            <div class="email">
              <strong>Email:</strong>
              hello@fakeemail.com
            </div>
            <div class="phone">
              <strong>Phone:</strong>
              +11231231234
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="addr-bullet">
            <h3>Headquarters</h3>
            <div class="addr">
              <p class="street">1331 West Windhill Drive,</p>
              <p class="citystatezip">Palatine, IL 60067</p>
            </div>
            <div class="email">
              <strong>Email:</strong>
              hello@fakeemail.com
            </div>
            <div class="phone">
              <strong>Phone:</strong>
              +11231231234
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="google-container"></div>

  <div class="contact-form-container">
    <div class="container">

      <div class="head">
        <div class="small-header">Have a question?</div>
        <h2>Leave us a message</h2>
      </div>

      <form id="contact-form" action="" class="form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" id="contact-form__name" placeholder="Name...">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="contact-form__email" placeholder="Email...">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="contact-form__subject" placeholder="Subject...">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <textarea id="contact-form__message" class="form-control" rows="6" placeholder="Message..."></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input type="submit" value="Send your message" class="btn btn-primary btn-block btn-lg" id="contact-form__submit">
          </div>
        </div>
      </form>
    </div>
  </div>

</div>