<div id="contact-us">

  <div class="jumbohead">

    <div class="container">
      <div class="overlay-bg"></div>
      <div class="head">
        <p class="icon" align="center">
          <img src="http://webinvisible.wpengine.netdna-cdn.com/wp-content/uploads/2014/06/icon-crisis-tracker-01.svg">
        </p>
        <h1>Contact Us</h1>
      </div>
    </div>

  </div>

  <div class="short-description">
    <div class="container">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero non enim ad similique laboriosam sapiente rerum, deleniti reiciendis, dicta repudiandae neque quaerat aliquam nemo vel consequatur! Cum quidem nesciunt, voluptates quaerat beatae, voluptate eveniet vitae, tempora itaque excepturi dolorem. Dolor vero magni, et veniam rerum asperiores quam. Odit et officia accusantium, nam nisi illo suscipit praesentium similique provident unde ea, sunt molestias odio necessitatibus dignissimos fugit. Qui molestiae quos aperiam architecto! Beatae quos eaque, quisquam ad illo exercitationem repudiandae reiciendis aperiam maxime quibusdam, nulla ullam. Ipsam repudiandae sit laboriosam. Repellat, accusamus impedit optio sint nemo facilis, iure qui? Nihil, tenetur!
    </div>
  </div>

</div>