<div id="contact-us">

  <div class="jumbohead">

    <div class="container">
      <div class="overlay-bg"></div>
      <div class="head">
        <p class="icon" align="center">
          <img src="/img/ContactUs_Icon.png">
        </p>
        <h1>Contact Us</h1>
      </div>
    </div>

  </div>

  <div class="info">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <div class="info">
            <div class="small-header">Where to find us?</div>
            <h2>Headquarters</h2>
            <div class="row">
              <div class="col-md-6">
                <div class="address">
                  <span class="street-address">2100 Sanders Road Suite 200</span>
                  <span class="city">Northbrook,</span> <span class="state-zip">IL 60062</span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-5 col-md-offset-1">
                    <div class="contact-user">
                      <h4 class="small-header">Laura</h4>
                      <div class="email">laura@james4eds.com</div>
                      <div class="phone">+1-224-323-3664</div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="contact-user">
                      <h4 class="small-header">Sam</h4>
                      <div class="email">sam@james4eds.com</div>
                      <div class="phone">+1-847-624-8060</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="google-container"></div>

  <div class="contact-form-container">
    <div class="container">

      <div class="head">
        <div class="small-header">Have a question?</div>
        <h2>Leave us a message</h2>
      </div>

      <form id="contact-form" action="" class="form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" id="contact-form__name" placeholder="Name...">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="contact-form__email" placeholder="Email...">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="contact-form__subject" placeholder="Subject...">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <textarea id="contact-form__message" class="form-control" rows="6" placeholder="Message..."></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input type="submit" value="Send your message" class="btn btn-primary btn-block btn-lg" id="contact-form__submit">
          </div>
        </div>
      </form>
    </div>
  </div>

  {{> subscribe_block}}

</div>

{{!-- for google map with marker --}}
