<div id="donate">

  <div class="jumbohead">

    <div class="container">
      <div class="overlay-bg"></div>
      <div class="head">
        <p class="icon" align="center">
          <img src="http://dft010l2k5dxv.cloudfront.net/Donate_Icon.png">
        </p>
        <h1>Donate</h1>
      </div>
    </div>

  </div>

  <br>

  <div class="donate-form-container">

    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="panel panel-default">
            <div class="panel-heading">
              Your Donation
            </div>
            <div class="panel-body">
              {{!-- handle errors of donating --}}
              <div class="donate-errors"></div>
              <form class="form" name="donate-form" id="donate-form" method="POST">
                <div class="form-group">
                  <label for="emailAddress">Email Address</label>
                  <input type="email" class="form-control" id="emailAddress" name="emailAddress">
                </div>
                <div class="form-group">
                  <label for="nameOnCard">Name on card</label>
                  <input type="text" class="form-control" id="nameOnCard" name="nameOnCard">
                </div>
                <div class="form-group">
                  <label for="cardNumber">Card Number</label>
                  <input type="tel" id="cardNumber" name="cardNumber" class="form-control card-number cc-number" data-stripe="number" autocomplete="cc-number" placeholder="•••• •••• •••• ••••">
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="cardExpiration">Expiration</label>
                      <div class="row">
                        <div class="col-md-4 exp-col form-group">
                          <input type="text" size="2" id="expMonth" name="expMonth" class="form-control" placeholder="MM" data-stripe="exp_month">
                        </div>
                        <div class="col-md-6 exp-col form-group">
                          <input type="text" size="4" id="expYear" name="expYear" class="form-control" placeholder="YYYY" data-stripe="exp_year">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="cvcCode">Cvc Code</label>
                      <input type="text" class="form-control" id="cvcCode" name="cvcCode" data-stripe="cvc" placeholder="XXXX">
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Donate</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-7">
          <div class="short-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero non enim ad similique laboriosam sapiente rerum, deleniti reiciendis, dicta repudiandae neque quaerat aliquam nemo vel consequatur! Cum quidem nesciunt, voluptates quaerat beatae, voluptate eveniet vitae, tempora itaque excepturi dolorem. Dolor vero magni, et veniam rerum asperiores quam. Odit et officia accusantium, nam nisi illo suscipit praesentium similique provident unde ea, sunt molestias odio necessitatibus dignissimos fugit.
          </div>
        </div>

      </div>
    </div>

  </div>

  {{> subscribe_block}}

</div>