
<div id="donated">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="content">
          {{#if success}}
            <h1>{{{message}}}</h1>
          {{else}}
            <h1>Sorry, there was an error. Please try again.</h1>
          {{/if}}
          <a href="/" class="btn btn-primary btn-xlg btn-clear">Back to Home</a>
        </div>
      </div>
    </div>
  </div>
</div>