<div id="donate">

  <div class="jumbohead">

    <div class="container">
      <div class="overlay-bg"></div>
      <div class="head">
        <p class="icon" align="center">
          <img src="/img/Donate_Icon.png">
        </p>
        <h1>Donate</h1>
      </div>
    </div>

  </div>

  <div class="short-description">
    <div class="container">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero non enim ad similique laboriosam sapiente rerum, deleniti reiciendis, dicta repudiandae neque quaerat aliquam nemo vel consequatur! Cum quidem nesciunt, voluptates quaerat beatae, voluptate eveniet vitae, tempora itaque excepturi dolorem. Dolor vero magni, et veniam rerum asperiores quam. Odit et officia accusantium, nam nisi illo suscipit praesentium similique provident unde ea, sunt molestias odio necessitatibus dignissimos fugit. Qui molestiae quos aperiam architecto! Beatae quos eaque, quisquam ad illo exercitationem repudiandae reiciendis aperiam maxime quibusdam, nulla ullam. Ipsam repudiandae sit laboriosam. Repellat, accusamus impedit optio sint nemo facilis, iure qui? Nihil, tenetur!
    </div>
  </div>

  <br>

  <div class="donate-form-container">

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              Your Donation
            </div>
            <div class="panel-body">
              <form action="" class="form">
                <div class="form-group">
                  <label for="name-on-card">Email Address</label>
                  <input type="email" class="form-control" id="email-address" name="email-address">
                </div>
                <div class="form-group">
                  <label for="name-on-card">Name on card</label>
                  <input type="text" class="form-control" id="name-on-card" name="name-on-card">
                </div>
                <div class="form-group">
                  <label for="name-on-card">Card Number</label>
                  <input type="text" class="form-control" id="card-number" name="card-number">
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label for="expiration-date">Expiration</label>
                      <input type="month" class="form-control" id="card-expiration-date" name="card-expiration-date">
                    </div>
                    <div class="col-md-4 col-md-offset-2">
                      <div class="form-group">
                        <label for="cvc-code">Cvc Code</label>
                        <input type="text" class="form-control" id="cvc-code" name="cvc-code">
                      </div>
                    </div>
                  </div>
                </div>
                <input type="submit" class="btn btn-primary btn-lg">
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
    </div>

  </div>

</div>