
<div id="email-sent">
  <div class="container">
    <br><br>
    {{#if success}}
      <h1>Mass email sent to {{recepsLen}} emails.</h1>
      <a href="/admin">Back to admin</a>
    {{/if}}
  </div>
</div>