
<div id="event-subscribed">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="content">
          {{#if success}}
            <h1>Thanks {{full_name}}! You are now subscribed to {{eventName}} and our mailing list!</h1>
          {{else}}
            <h1>Sorry, the email: {{email}} is already on our list</h1>
          {{/if}}
          <a href="/" class="btn btn-primary btn-xlg btn-clear">Back to Home</a>
        </div>
      </div>
    </div>
  </div>
</div>