
<div id="gallery-multi-upload">

  <div class="container admin-form">

    <div class="row">
      <div class="col-sm-7">
        <div class="page-header">
          <h1>Upload Multiple Images</h1>
        </div>

        {{!-- set enctype or else req.files wont exist --}}
        <form id="gallery-multi-upload-form" class="form well" method="post" enctype="multipart/form-data">
          <div class="form-group">
            {{!-- multiple property allows multiple files to be uploaded --}}
            <input type="file" name="fileUpload" id="fileUpload" multiple="true">
          </div>
          <input type="submit" class="btn btn-primary" value="Submit">
        </form>


      </div>
      <div class="col-sm-5"></div>
    </div>

  </div>

</div>