

<div id="galleries">

  <div class="jumbohead">
    <div class="container">
      <div class="overlay-bg"></div>
      <div class="head">
        <p class="icon" align="center">
          {{!-- this needs to be updated to cloudfront --}}
          <img src="https://s3.amazonaws.com/jamesbucket123/staticassets/GalleryHeaderIcon.png">
        </p>
        <h1>Images</h1>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="all-images-container grid whitebg">
      <div class="grid-sizer"></div>
      {{#each images}}
        <a href="{{image_url}}" class="grid-item fancybox" rel="allimgs" title="{{name}}">
          <img src="{{image_url}}" alt="" class="img">
        </a>
      {{/each}}
    </div>

  </div>
</div>