

<div id="galleries">

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <!-- {{dist_tags}} -->
        <div class="head">
          <div class="wrap">
            <h2>Gallery</h2>
            <h4>A Picture Lasts a Lifetime</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="all-images-container grid whitebg">
      <div class="grid-sizer"></div>
      {{#each images}}
        <a href="{{image_url}}" class="grid-item fancybox" rel="allimgs" title="{{name}}">
          <img src="{{image_url}}" alt="" class="img">
        </a>
      {{/each}}
    </div>

  </div>
</div>