

<div id="galleries">
  <div class="container whitebg">

    <div class="all-images-container">
      <div class="row">
        {{#each images}}
          <div class="col-md-2">
            <img src="{{image_url}}" alt="" class="img thumbnail">
          </div>
        {{/each}}
      </div>
    </div>

  </div>
</div>