
<div id="get-browser-dems">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
            <div class="browser-dems"></div>
        </div>
      </div>
    </div>
  </div>
</div>