<div id="cover">

  <div class="site-wrap">

    <div class="jumbotron">
      <div class="container">
        <h1 class="pull-right">JAMES4EDS</h1>
        {{#if user}}
          <h2>Welcome, {{user}}</h2>
        {{/if}}
      </div>
    </div>


    {{> subscribe_block}}

  </div> {{!-- end .wrapper --}}

</div> {{!-- end #cover --}}