<div id="cover">

  <div class="site-wrap">

    {{> jumbotron}}
    {{> eds_preview}}




    <div id="programs-slider">
      <div class="container-fluid">
        <a href="#" class="program">
          <div class="bg">
            {{!-- saturedated image --}}
            {{!-- desaturated image --}}
          </div>
          <div class="content">
            <div class="title">
              <p>LRA Crisis Tracker</p>
            </div>
            <p class="icon">
              <img src="http://webinvisible.wpengine.netdna-cdn.com/wp-content/uploads/2014/06/icon-crisis-tracker-01.svg">
            </p>
          </div>
        </a>

        <a href="#" class="program">
          <div class="bg">
            {{!-- saturedated image --}}
            {{!-- desaturated image --}}
          </div>
          <div class="content">
            <div class="title">
              <p>LRA Crisis Tracker</p>
            </div>
            <p class="icon">
              <img src="http://webinvisible.wpengine.netdna-cdn.com/wp-content/uploads/2014/06/icon-crisis-tracker-01.svg">
            </p>
          </div>
        </a>

        <a href="#" class="program">
          <div class="bg">
            {{!-- saturedated image --}}
            {{!-- desaturated image --}}
          </div>
          <div class="content">
            <div class="title">
              <p>LRA Crisis Tracker</p>
            </div>
            <p class="icon">
              <img src="http://webinvisible.wpengine.netdna-cdn.com/wp-content/uploads/2014/06/icon-crisis-tracker-01.svg">
            </p>
          </div>
        </a>

        <a href="#" class="program">
          <div class="bg">
            {{!-- saturedated image --}}
            {{!-- desaturated image --}}
          </div>
          <div class="content">
            <div class="title">
              <p>LRA Crisis Tracker</p>
            </div>
            <p class="icon">
              <img src="http://webinvisible.wpengine.netdna-cdn.com/wp-content/uploads/2014/06/icon-crisis-tracker-01.svg">
            </p>
          </div>
        </a>
      </div>
    </div>





    {{> quote1}}
    {{> about_james}}
    {{> we_need_you}}
    {{> recent_updates}}




    {{> subscribe_block}}


  </div> {{!-- end .wrapper --}}

</div> {{!-- end #cover --}}