<div id="cover">

  <div class="site-wrap">

    {{> jumbotron}}
    {{> eds_preview}}
    {{> events_preview}}
    {{> programs_slider}}
    {{> quote1}}
    {{> about_james}}

    {{> twitter_slider}}

    {{!-- {{> we_need_you}} --}}
    {{> recent_updates}}
    {{> subscribe_block}}


  </div> {{!-- end .wrapper --}}

</div> {{!-- end #cover --}}