<div id="cover">

  <div class="site-wrap">

    {{> jumbotron}}
    {{> short_description}}
    {{> eds_preview}}
    {{> quote1}}
    {{> we_need_you}}
    {{!-- {{> blog_preview}} --}}




    {{> subscribe_block}}


  </div> {{!-- end .wrapper --}}

</div> {{!-- end #cover --}}