<div id="cover">

  <div class="site-wrap">

    {{> jumbotron}}
    {{> programs_slider}}
    {{> eds_preview}}
    {{> events_preview}}
    {{> about_james}}
    {{> quote1}}
    {{> recent_updates}}
    {{> subscribe_block}}

    {{!-- {{> twitter_slider}} --}}
    {{!-- {{> we_need_you}} --}}

  </div> {{!-- end .wrapper --}}

</div> {{!-- end #cover --}}