<div id="cover">

  <div class="site-wrap">

    {{> jumbotron}}
    {{> short_description}}
    {{> eds_preview}}
    {{> quote1}}
    {{> about_james}}

    {{> we_need_you}}
    {{> recent_updates}}




    {{> subscribe_block}}


  </div> {{!-- end .wrapper --}}

</div> {{!-- end #cover --}}