<div id="cover">

  <div class="site-wrap">

    {{> jumbotron}}
    {{> eds_preview}}
    {{> programs_slider}}
    {{> quote1}}
    {{> about_james}}

    <div id="twitter-slider">
      <div class="overlay-bg"></div>
      <div class="container">
        <div class="twitter-icon">
          <i class="fa fa-twitter"></i>
        </div>
        <div class="twitter-carousel">
          <ol class="carousel-indicators">
            <li class="active"></li>
            <li></li>
            <li></li>
          </ol>
          <div class="carousel-in">
            <div class="item">
              <p>Amis de Bruxelles, de Woluwé, de Namur, de partout... pour les fêtes de fin d'année, nous ne pouvons que vous...</p>
              <a href="#">http://t.co/7FoVSP0vIf</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    {{!-- {{> we_need_you}} --}}
    {{> recent_updates}}
    {{> subscribe_block}}


  </div> {{!-- end .wrapper --}}

</div> {{!-- end #cover --}}