
{{!--
/login
/admin
/subscribers
/ -- new, mass_email
/blogs
/ -- new, edit[x], delete[x]
/events
/ -- new, show_info[x], view_message, tshirt_map
/gallery
/ -- multi_upload, view_img, edit[x], delete[x]
/donations
/ -- stripe_dashboard
 --}}

<div id="instructions">

  <div class="jumbohead">
    <div class="container">
      <div class="overlay-bg"></div>
      <div class="head">
        <p class="icon" align="center">
          <img src="http://dft010l2k5dxv.cloudfront.net/OurTeam_Icon.png">
        </p>
        <h1>Instructions</h1>
      </div>
    </div>
  </div>

  <br>

  <div class="container">

    <div class="row">
      <div class="col-md-3" id="instr-left-col">
        <ul class="nav" id="sidebar">
          <li><a href="#general">General</a></li>
          <li><a href="#login">Login</a></li>
          <li><a href="#admin">Admin</a></li>
          <li>
            <a href="#subscribers">Subscribers</a>
            <ul class="nav">
              <li><a href="#subscribers" class="sub-li">How a user subscribers</a></li>
              <li><a href="#subscribers" class="sub-li">Adding someone to the mailing list manually</a></li>
              <li><a href="#subscribers" class="sub-li">Using Mailchimp</a></li>
            </ul>
          </li>
          <li>
            <a href="#blog">Blog</a>
            <ul class="nav">
              <li><a href="#blog" class="sub-li">Create a new blog post</a></li>
              <li><a href="#blog" class="sub-li">Edit an existing blog post</a></li>
              <li><a href="#blog" class="sub-li">Delete an existing blog post</a></li>
            </ul>
          </li>
          <li>
            <a href="#events">Events</a>
            <ul class="nav">
              <li><a href="#events" class="sub-li">Create a new event</a></li>
              <li><a href="#events" class="sub-li">Show information</a></li>
              <li><a href="#events" class="sub-li">Delete an existing event</a></li>
            </ul>
          </li>
          <li>
            <a href="#gallery">Image Gallery</a>
            <ul class="nav">
              <li><a href="#gallery" class="sub-li">Information</a></li>
              <li><a href="#gallery" class="sub-li">Uploading multiple images</a></li>
              <li><a href="#gallery" class="sub-li">Update existing image name</a></li>
              <li><a href="#gallery" class="sub-li">Delete existing image</a></li>
            </ul>
          </li>
          <li>
            <a href="#donations">Donations</a>
            <ul class="nav">
              <li><a href="#donations" class="sub-li">How a user makes a donation</a></li>
              <li><a href="#donations" class="sub-li">Stripe dashboard</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-md-9" id="inst-main">

        <section>
          <h2 id="general">General - Exposed Routes</h2>
          <h3>static routes</h3>
          <ul>
            <li>
              <b>/our-work</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/our-team</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/contact-us</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/instructions</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/donate</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
          </ul>

          <h3>dynamic routes</h3>
          <ul>
            <li>
              <b>/blog</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/blog/:post_slug</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/events</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/events/:event_slug</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/gallery</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
          </ul>

          <h3>admin routes</h3>
          <ul>
            <li>
              <b>/login</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/admin</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/admin#subscribers</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/admin#blogs</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/admin#events</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/admin#gallery</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/admin#donations</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
          </ul>
        </section>

        <section>
          <h2 id="login">Logging in</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat fugiat quas, minus eveniet illo corporis dolore dicta nulla reprehenderit modi alias eaque veniam explicabo ratione officiis nihil debitis nobis quasi ab eligendi! Blanditiis nesciunt soluta qui! Suscipit nostrum, quia a enim quod unde. Nemo dolor, molestiae omnis reiciendis vero. Ab vitae ut suscipit doloribus optio alias quos veniam, minima earum.</p>
        </section>

        <section>
          <h2 id="admin">Admin page</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ratione voluptatibus iusto at pariatur, distinctio mollitia provident ea autem laborum, assumenda ad, ipsam itaque sapiente cum. Neque natus possimus accusantium eaque, obcaecati eum officiis consequatur voluptatibus harum illum ipsum veritatis! Aperiam porro eum, tenetur aspernatur itaque fugit odit soluta blanditiis.</p>
        </section>

        <section>
          <h2 id="blog">Blog posts</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ratione voluptatibus iusto at pariatur, distinctio mollitia provident ea autem laborum, assumenda ad, ipsam itaque sapiente cum. Neque natus possimus accusantium eaque, obcaecati eum officiis consequatur voluptatibus harum illum ipsum veritatis! Aperiam porro eum, tenetur aspernatur itaque fugit odit soluta blanditiis.</p>
        </section>

        <section>
          <h2 id="events">Events</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ratione voluptatibus iusto at pariatur, distinctio mollitia provident ea autem laborum, assumenda ad, ipsam itaque sapiente cum. Neque natus possimus accusantium eaque, obcaecati eum officiis consequatur voluptatibus harum illum ipsum veritatis! Aperiam porro eum, tenetur aspernatur itaque fugit odit soluta blanditiis.</p>
        </section>

        <section>
          <h2 id="gallery">Image Gallery</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ratione voluptatibus iusto at pariatur, distinctio mollitia provident ea autem laborum, assumenda ad, ipsam itaque sapiente cum. Neque natus possimus accusantium eaque, obcaecati eum officiis consequatur voluptatibus harum illum ipsum veritatis! Aperiam porro eum, tenetur aspernatur itaque fugit odit soluta blanditiis.</p>
        </section>

        <section>
          <h2 id="donations">Donations</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ratione voluptatibus iusto at pariatur, distinctio mollitia provident ea autem laborum, assumenda ad, ipsam itaque sapiente cum. Neque natus possimus accusantium eaque, obcaecati eum officiis consequatur voluptatibus harum illum ipsum veritatis! Aperiam porro eum, tenetur aspernatur itaque fugit odit soluta blanditiis.</p>
        </section>
      </div>

    </div>

  </div>
</div>