
{{!--
/login
/admin
/subscribers
/ -- new, mass_email
/blogs
/ -- new, edit[x], delete[x]
/events
/ -- new, show_info[x], view_message, tshirt_map
/gallery
/ -- multi_upload, view_img, edit[x], delete[x]
/donations
/ -- stripe_dashboard
 --}}

<div id="instructions">

  <div class="jumbohead">
    <div class="container">
      <div class="overlay-bg"></div>
      <div class="head">
        <p class="icon" align="center">
          <img src="http://dft010l2k5dxv.cloudfront.net/OurTeam_Icon.png">
        </p>
        <h1>Instructions</h1>
      </div>
    </div>
  </div>

  <br>

  <div class="container">

    <div class="row">
      <div class="col-md-3" id="instr-left-col">
        <ul class="nav" id="sidebar">
          <li><a href="#general">General</a></li>
          <li><a href="#login">Login</a></li>
          <li><a href="#admin">Admin</a></li>
          <li>
            <a href="#subscribers">Subscribers</a>
            <ul class="nav">
              <li><a href="#subscribers" class="sub-li">How a user subscribers</a></li>
              <li><a href="#subscribers" class="sub-li">Adding someone to the mailing list manually</a></li>
              <li><a href="#subscribers" class="sub-li">Using Mailchimp</a></li>
            </ul>
          </li>
          <li>
            <a href="#blog">Blog</a>
            <ul class="nav">
              <li><a href="#blog" class="sub-li">Create a new blog post</a></li>
              <li><a href="#blog" class="sub-li">Edit an existing blog post</a></li>
              <li><a href="#blog" class="sub-li">Delete an existing blog post</a></li>
            </ul>
          </li>
          <li>
            <a href="#events">Events</a>
            <ul class="nav">
              <li><a href="#events" class="sub-li">Create a new event</a></li>
              <li><a href="#events" class="sub-li">Show information</a></li>
              <li><a href="#events" class="sub-li">Delete an existing event</a></li>
            </ul>
          </li>
          <li>
            <a href="#gallery">Image Gallery</a>
            <ul class="nav">
              <li><a href="#gallery" class="sub-li">Information</a></li>
              <li><a href="#gallery" class="sub-li">Uploading multiple images</a></li>
              <li><a href="#gallery" class="sub-li">Update existing image name</a></li>
              <li><a href="#gallery" class="sub-li">Delete existing image</a></li>
            </ul>
          </li>
          <li>
            <a href="#donations">Donations</a>
            <ul class="nav">
              <li><a href="#donations" class="sub-li">How a user makes a donation</a></li>
              <li><a href="#donations" class="sub-li">Stripe dashboard</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-md-9" id="inst-main">

        <section>
          <h2 id="general">General - Exposed Routes</h2>
          <h3>static routes</h3>
          <ul>
            <li>
              <b>/</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/our-work</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/our-team</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/contact-us</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/instructions</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/donate</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
          </ul>

          <h3>dynamic routes</h3>
          <ul>
            <li>
              <b>/blog</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/blog/:post_slug</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/events</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/events/:event_slug</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/gallery</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
          </ul>

          <h3>admin routes</h3>
          <ul>
            <li>
              <b>/login</b>
              <p>Lorb ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae labore, illum laboriosam ratione, at iste. Consequatur doloribus ratione minus dolorum asperiores, voluptatibus provident quasi. Tenetur, atque repellat repudiandae distinctio.</p>
            </li>
            <li>
              <b>/admin#all</b>
              <p>This hasn't been used yet, can show info/stats from all of the other admin#... pages</p>
            </li>
            <li>
              <b>/admin#subscribers</b>
              <p>Shows a list of all current subscribers</p>
            </li>
            <li>
              <b>/admin#blogs</b>
              <p>Will show you all of the current blog posts, create a new blog post, edit an existing blog post, or delete a blog post</p>
            </li>
            <li>
              <b>/admin#events</b>
              <p>Will show you all of the current events. You can edit/delete an event. You can click on the button that says attendees and it will show a list of all of the people attending the event, the date they signed up, their email, a message (if they left one), and their t-shirt size (if they chose to when they signed up)</p>
            </li>
            <li>
              <b>/admin#gallery</b>
              <p>Here you can view a list of all of the images in the gallery, the date it was uploaded, and a thumbnail of the image. The default name of an image will be untitled so it's a good idea to update each images name after you upload them. Recommended only updating 1 name at a time. You can also upload multiple images at a time here (recommended only ~10-20 images at a time.)</p>
            </li>
            <li>
              <b>/admin#donations</b>
              <p>Here you will see a list of all of the donations, either from <b class="light-b">/donate</b> or the $20/$35 from subscribing to an event. If it is from a raw donation, it will be specified as 'donation', and if it was from an event subscription, it will be labeled 'eventSubscription'. Here you can also be linked to the Stripe Dashboard, which is the service used to process payments.</p>
            </li>
          </ul>
        </section>

        <section>
          <h2 id="login">Logging in</h2>
          <p>You must login to access the <b class="light-b">/admin</b> page. If you try to go to the <b class="light-b">/admin</b> page when you haven't already logged in, it will redirect you to the <b class="light-b">/login</b> page. Once you have logged in, it will grant you access to the <b class="light-b">/admin</b> page and if you navigate to another page and return to the <b class="light-b">/admin</b> page, you will still be allowed to access it. You will then have access to the <b class="light-b">/admin</b> page until you either logout, or until your session expires (~1 week ?).</p>

          <img src="http://i.imgur.com/coP4lNO.png" class="instr-img">
        </section>

        <section>
          <h2 id="admin">Admin page</h2>
          <p>Here you will access all of the admin functionality. Look to the above section, <b class="light-b">GENERAL - EXPOSED ROUTES</b>, for a brief description of the functions, or see below for detailed instructions/screenshots showing you how to use them.</p>

          <img src="http://i.imgur.com/XnmisjW.png" class="instr-img">
        </section>

        <section>
          <h2 id="subscribers">Subscribers</h2>

          <img src="http://imgur.com/XzUiaIe.png" class="instr-img">

          <h3>How a user ends up on the Subscription List</h3>

          <p>there are 4 ways a person can end up on the subscription list:</p>

          <ol>
            <li>clicking the 'Signup Now' button right above the footer, <b class="light-b">on most pages</b></li>
            <li>signing up for an event @ <b class="light-b">/events/:event_slug</b></li>
            <li>donating @ <b class="light-b">/donate</b></li>
            <li>manually @ <b class="light-b">/subscribers/new</b></li>
          </ol>

          <div class="row">
            <div class="col-md-6">
              <img src="http://i.imgur.com/LPCPVNg.png" class="instr-img">
            </div>
            <div class="col-md-6">
              <img src="http://imgur.com/FvyoD9x.png" class="instr-img">
            </div>
            <div class="col-md-6">
              <img src="http://imgur.com/m8U0hlS.png" class="instr-img">
            </div>
            <div class="col-md-6">
              <img src="http://i.imgur.com/feGxVo9.png" class="instr-img">
            </div>
          </div>

          <p>If someone tries to subscribe using the same email it will not allow them and ask them to try again. If they subscribe using the same name, but different email address it will allow them.</p>

          <h3>Using Mailchimp</h3>

        </section>

        <section>
          <h2 id="blog">Blog posts</h2>
          <img src="http://i.imgur.com/dNzMIJj.png" class="instr-img">

          <h3>Creating a new blog post</h3>

          <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown Cheatsheet</a>
          <br>
          <a href="https://jbt.github.io/markdown-editor/#">Online Markdown Editor</a>

          <br>

          <p>Blog posts are written in something called <b class="light-b">markdown</b>. Markdown is something like a programming language, but is very easy to understand, and can be learned in an hour easily. All you really need to write markdown is the Cheatsheet listed above and if you want more in-depth instructions, a simple google search will help you. I will give a brief run-down on how to write markdown through writing an example blog post, and why it's being used instead of plain-text.</p>

          <p>So, you create a blog post by clicked the '+New' button at the top of /admin#blog, and it will take you to a page that looks like this:</p>

          <img src="http://i.imgur.com/JOi6Ik3.png" class="instr-img">

          <p>There are 5 different input fields here:</p>

          <ol>
            <li><b class="light-b">Cover Image Url:</b>This will be the image that will show up as the background for the blog post on the index page, the background behind the posts' title on the /blog page, and the same for the /blog/:slug page.</li>
            <li><b class="light-b">Title:</b>This will be the title of the blog post. I wouldn't make the title more than a sentence long.</li>
            <li><b class="light-b">Tags:</b> Not being used yet.</li>
            <li><b class="light-b">Content Preview:</b> This is pretty much only for the /blog page (list of all blog posts). There isn't a limit for how many characters long this should be, but I put a character counter here, which recommends you don't make this longer than 600 characters. <b class="light-b">This only accepts markdown!</b>.</li>
            <li><b class="light-b">Content:</b> This will be the content of the blog post. <b class="light-b">Also only accepts markdown!</b>.</li>
            <li>There is also a hidden field that will be added to the post after you click the 'Submit' button, which is the Date/Time of the posting.</li>
          </ol>

          <br>

          <p>So starting with the Cover-Image Url, lets say we have an image on our computer. To get the image on the internet, you can use a number of Image Apps/Sites, I will use <a href="http://imgur.com/">imgur</a>.</p>

          <p>On the imgur site, you will see a 'upload images' button at the top of the site, click it. Now click 'browse your computer' for the image, select the image and it will download the image and then direct you to a page that will show the uploaded image.</p>

          <p>On the right, there should be a box titled <b class="light-b">share this image</b>. Here, you should see a field titled 'Direct Link' with a url underneath it.</p>

          <p>You will be using this url for the 'Cover-Image Url', and if you try to put the url into your browser, you can see the image!</p>

          <div class="row">
            <div class="col-md-6">
              <img src="http://imgur.com/ykL3NoZ.png" class="instr-img">
            </div>
            <div class="col-md-6">
              <img src="http://imgur.com/j0mgfqM.png" class="instr-img">
            </div>
          </div>

          <p>Enter the URL into the input field on the '/blog/new' page.</p>

          <p>Lets now enter a title. Im going to use a random article on the web for this demonstration. We should now have this:</p>

          <img src="http://i.imgur.com/WJFSYd7.png" class="instr-img">

          <p>The 'Tags' field isn't used for anything yet, so you can just leave it at its' default 'red,blue,green'. Lets now add the Content-Preview and the Content.</p>

          <p>The <b class="light-b">Content Preview</b> section takes markdown, but it really should just be text that uses line seperation. For this example im just going to copy/paste from the article im using for example, making sure it's ~600 characters.</p>

          <img src="http://imgur.com/BaiPfqc.png" class="instr-img">

          <p>Before I enter in the markdown for 'Content', im going to briefly explain what is markdown and why use it.</p>

          <p>Lets think about a Microsoft Word document. In MS Word, you can enter in text, as well as the use of Headings, Lists, maybe Images and so on. Markdown basically lets you add in things like Headers, Lists, Links, Images... without having to use MS Word, instead you use characters such as '#' to represent things in markdown. For example: </p>

          <p>As an example of markdown, I used the online Markdown Editor linked above, which allows you to enter Markdown on the left-side and it will show you what the Markdown will output on the right. Again, the best reference for Markdown is the Cheatsheet also linked above.</p>

          <img src="http://imgur.com/CppWG8J.png" class="instr-img">

          <p>So for our example blog post's content section, I am going to enter in some markdown that will contain some text, a sub-heading or 2 (## secondary header, ### third header), an image, and a link or 2.</p>

          <p>Here is the new blog post, right before hitting submit:</p>

          <img src="http://i.imgur.com/Hnua8u0.png" class="instr-img">

          <p>Now if we view the '/admin#blog' page, we should see the new blog post in the list! Now that we have added a new blog post, it will now be shown on the index page (/) in the 'Recent Posts' section, the '/blog' page, and the individual post at '/blog/:slug_name'.</p>

          <div class="row">
            <div class="col-md-6">
              <img src="http://imgur.com/EempBOn.png" class="instr-img">
            </div>
            <div class="col-md-6">
              <img src="http://imgur.com/gGAA1If.png" class="instr-img">
            </div>
            <div class="col-md-6">
              <img src="http://imgur.com/xNMOkE0.png" class="instr-img">
            </div>
            <div class="col-md-6">
              <img src="http://imgur.com/MgWEQVo.png" class="instr-img">
            </div>
          </div>


          <h3>Editing an existing blog post</h3>

          <p>You can edit an existing blog post by clicking the pencil on the right side of the blog post.</p>

          <img src="http://imgur.com/i2fi7DT.png" class="instr-img">

          <p>You will enter in Markdown for the content and content preview.</p>

          <img src="http://imgur.com/oru7Imh.png" class="instr-img">

          <h3>Deleting an existing blog post</h3>

          <p>You delete an image by clicking the 'X' on the same row as the blog post. It will ask for confirmation. Be careful, once a post is deleted there is no way to get it back.</p>

          <img src="http://imgur.com/gZFuXZf.png" class="instr-img">
        </section>

        <section>
          <h2 id="events">Events</h2>
          <h3>Creating a new event</h3>

          <img src="http://imgur.com/DlWUMB9.png" class="instr-img">

          <p>You create a new event by clicking '+New' on the admin#events page.</p>

          <img src="http://imgur.com/PufkvqG.png" class="instr-img">

          <h3>Showing infomation about an event</h3>

          <p>The following things are shown in the details of the event:</p>
          <ol>
            <li>how many users registered to the event & how many of them registered with a shirt</li>
            <li>a list of all the users who registered for the event</li>
            <li>for each user it will show their name, email, date of signup, the message they wrote, and their t-shirt size</li>
          </ol>

          <p>You view an events infomation by clicking the button on the far right labeled 'Attendees V'</p>

          <img src="http://i.imgur.com/wAVwaJr.png" class="instr-img">

          <h3>Editing an existing event</h3>

          <p>You edit an event by clicking the pencil icon on the same row as the event you are trying to edit.</p>

          <div class="row">
            <div class="col-md-6">
              <img src="http://imgur.com/FfS1yMH.png" class="instr-img">
            </div>
            <div class="col-md-6">
              <img src="http://imgur.com/bM6FXJv.png" class="instr-img">
            </div>
          </div>

          <h3>Delete an existing event</h3>

          <p>You delete an existing event by clicking the 'X' on the same row as the event you are trying to delete.</p>
          <img src="http://imgur.com/cDhGIhr.png" class="instr-img">

        </section>

        <section>
          <h2 id="gallery">Image Gallery</h2>

          <h3>Uploading images (multiple)</h3>

          <p>You can upload images by clicking the '+Multi-upload' link at the top of admin#gallery</p>

          <div class="row">
            <div class="col-md-6">
              <img src="http://imgur.com/72a6CIc.png" class="instr-img">
            </div>
            <div class="col-md-6">
              <img src="http://imgur.com/yGHGcH2.png" class="instr-img">
            </div>
          </div>

          <p>You can upload multiple images at a time that are saved on your computer. I would recommend only uploading 10-20 images at a time, it can glitch out if you try to tell it to upload a very large amount of images.</p>

          <img src="http://imgur.com/shLCeq6.png" class="instr-img">

          <p>Once you slick 'Submit', you will notice the browser loading the images in the bottom left corner, wait for it to be done before doing anything else.</p>

          <img src="http://imgur.com/cXYWe9w.png" class="instr-img">

          <p>Once they are done downloading, you should go back to the admin page and refresh. You will now see your newly uploaded images. They will all have the default title 'No Title Specified'</p>

          <img src="http://imgur.com/OAIk9Tg.png" class="instr-img">


          <h3>Viewing an image</h3>

          <p>To preview the image from the admin#gallery page all you need to do is click on the 'VIEW' link in each row, and it will show you a preview of the desired image.</p>

          <img src="http://i.imgur.com/dluEtEQ.png" class="instr-img">

          <h3>Edit an existing image</h3>

          <p>The only thing that you can update for the image is the title ( uploaded images will automatically be assigned a 'No Title Specified' title ). Clicking the Pencil icon for the image will allow you to edit the title for the image.</p>

          <p>Once you have the desired name for the image, pressing 'Enter' will save the new title.</p>

          <div class="row">
            <div class="col-md-6">
              <img src="http://imgur.com/dtZ1fIL.png" class="instr-img">
            </div>
            <div class="col-md-6">
              <img src="http://imgur.com/ZyG22IP.png" class="instr-img">
            </div>
          </div>

          <p>It is recommended to update each images title. The images title will show up in the image gallery at <b class="light-b">/gallery</b>:</p>

          <img src="http://i.imgur.com/xy8IwRC.png" class="instr-img">

          <h3>Delete an existing image</h3>

          <p>NOT YET IMPLEMENTED</p>

        </section>

        <section>
          <h2 id="donations">Donations</h2>
          <h3>General</h3>
          <h3>Stripe dashboard</h3>
        </section>
      </div>

    </div>

  </div>
</div>