<!DOCTYPE html>
<html>
  <head>
    <title>James Journey</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="description" content="155 characters of message matching text with a call to action goes here" />

    {{!-- facebook opengraph --}}
    {{!-- <meta property="og:title" content="iAcquire’s awesome blog"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="http://www.iacquire.com/some-thumbnail.jpg"/>
    <meta property="og:url" content="http://blog.iacquire.com"/>
    <meta property="og:description" content="Stop hitting refresh on your ex-girlfriend’s Facebook page? You should check out the iAcquire blog and learn something instead"/>
    <meta property="fb:admins" content="USER_ID"/> --}}

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,300italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <link rel="stylesheet" href="//dft010l2k5dxv.cloudfront.net/tokenfield-typeahead.min.css">
    <link rel="stylesheet" href="//dft010l2k5dxv.cloudfront.net/bootstrap-select.min.css">

    <link rel="stylesheet" href="//dft010l2k5dxv.cloudfront.net/chocolat.css">

    <link rel="stylesheet" href="/css/app.bundle.css">

  </head>
  <body>

    <div class="main-cont">
      {{#if isAdminPage}}
        {{{body}}}
      {{else}}
        {{> navbar}}
        {{{body}}}
        {{> footer}}
      {{/if}}
    </div>

    <script src="//dft010l2k5dxv.cloudfront.net/jquery.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//dft010l2k5dxv.cloudfront.net/jquery.chocolat.min.js"></script>
    <script src="//dft010l2k5dxv.cloudfront.net/bootstrap-select.min.js"></script>

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <script src="/js/app.bundle.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-69440136-2', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>
