<!DOCTYPE html>
<html>
  <head>
    <title>James Journey</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="description" content="155 characters of message matching text with a call to action goes here" />

    {{!-- facebook opengraph --}}
    {{!-- <meta property="og:title" content="iAcquire’s awesome blog"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="http://www.iacquire.com/some-thumbnail.jpg"/>
    <meta property="og:url" content="http://blog.iacquire.com"/>
    <meta property="og:description" content="Stop hitting refresh on your ex-girlfriend’s Facebook page? You should check out the iAcquire blog and learn something instead"/>
    <meta property="fb:admins" content="USER_ID"/> --}}




    {{!-- for headers --}}
    {{!-- <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'> --}}
    {{!-- for type --}}
    {{!-- <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'> --}}

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,300italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


    <link rel="stylesheet" href="//dft010l2k5dxv.cloudfront.net/bootstrap-tokenfield.min.css">
    <link rel="stylesheet" href="//dft010l2k5dxv.cloudfront.net/tokenfield-typeahead.min.css">
    <link rel="stylesheet" href="//dft010l2k5dxv.cloudfront.net/jquery.fancybox.css">
    <link rel="stylesheet" href="/css/bootstrap-selectbox.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chocolat/0.4.13/css/chocolat.css">

    <link rel="stylesheet" href="/css/app.bundle.css">

  </head>
  <body>

    {{!-- <div id="fb-root"></div> --}}
    <!-- <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script> -->

    <!-- <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script> -->

    <div class="main-cont">
      {{#if isAdminPage}}
        {{{body}}}
      {{else}}
        {{> navbar}}
        {{{body}}}
        {{> footer}}
      {{/if}}
    </div>

    {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> --}}


    <script src="//dft010l2k5dxv.cloudfront.net/jquery.js"></script>




    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>




    {{!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    --}}


    <script src="//dft010l2k5dxv.cloudfront.net/bootstrap-tokenfield.js"></script>

    {{!-- <script src="//dft010l2k5dxv.cloudfront.net/simple-scroll-follow.js"></script> --}}

    {{!--
    <script src="//dft010l2k5dxv.cloudfront.net/masonry.pkgd.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.0.0/imagesloaded.pkgd.min.js"></script>
    <script src="//dft010l2k5dxv.cloudfront.net/jquery.fancybox.pack.js"></script>
    <script src="//dft010l2k5dxv.cloudfront.net/jquery.fancybox-buttons.js"></script>
    <script src="//dft010l2k5dxv.cloudfront.net/jquery.fancybox-media.js"></script>
    --}}

    {{!--
    <script src="/js/bootstrap-selectbox.js"></script>
    --}}

    {{!-- stripe --}}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8aGIj2g4IO0K2RpTb2tMp8Rs0towvaUE"></script>

    {{!--
    <script src="/node_modules/chocolat/dist/js/jquery.chocolat.js"></script>
    --}}

    <script src="/js/app.bundle.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-69440136-2', 'auto');
      ga('send', 'pageview');
    </script>


    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>

    <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
    </script>


  </body>
</html>
