<!DOCTYPE html>
<html>
  <head>
    <title>Proto James Site</title>
    <link rel='stylesheet' href='css/global.css'>
  </head>
  <body>
    {{{body}}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </body>
</html>
