<div id="login-form">

  {{#if message}}
    <div class="message">
      <h4 style="color: red;">{{message}}</h4>
    </div>
  {{/if}}
  
  <form action="" method="post">
    <input type="text" name="username" placeholder="Username...">
    <input type="password" name="password" placeholder="Password...">
    <input type="submit" value="Submit">
  </form>

</div>