<div id="login">

  <div class="smaller-fluid-container">

    {{#if message}}
      <div class="message">
        <h4 style="color: red;">{{message}}</h4>
      </div>
    {{/if}}

    <form action="" method="post" id="login-form">
      <div class="form-group">
        <input type="text" name="username" class="form-control" placeholder="Username..." autocomplete="off" autofocus>
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Password..." autocomplete="off">
      </div>
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>

  </div>

</div>