<div id="login-form">

  {{#if message}}
    <div class="message">
      <h2>{{message}}</h2>
    </div>
  {{/if}}
  
  <form action="" method="post">
    <input type="text" name="username" placeholder="Username...">
    <input type="password" name="password" placeholder="Password...">
    <input type="submit" value="Submit">
  </form>

</div>