
<div id="new-blog">

  <div class="container">

    <h2>New User</h2>

    <form id="user-form" action="/users/new" method="post">
      <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Enter username...">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Enter password...">
      </div>
      <input type="submit" class="btn" value="Submit">
    </form>

  </div>

</div>