
<div id="new-event">

  <div class="container admin-form">

    <div class="row">
      <div class="col-sm-7">
        <div class="page-header">
          <h1>New Event</h1>
        </div>

        <form id="new-event-form" class="form well" method="post">
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Name...">
          </div>
          <div class="form-group">
            <input type="date" name="date" class="form-control" placeholder="Date...">
          </div>
          <div class="form-group">
            <input type="text" name="location" class="form-control" placeholder="Location...">
          </div>
          <div class="form-group">
            <textarea name="description" class="form-control" placeholder="Message..."></textarea>
          </div>
          <input type="submit" value="Submit" class="btn btn-primary">
        </form>
      </div>
      <div class="col-sm-5"></div>
    </div>

  </div>

</div>