
<div id="our-team">

  <div class="jumbohead">

    <div class="container">
      <div class="overlay-bg"></div>
      <div class="head">
        <p class="icon" align="center">
          <img src="https://dft010l2k5dxv.cloudfront.net/OurTeam_Icon.png">
        </p>
        <h1>Our Team</h1>
      </div>
    </div>

  </div>

  <div class="team-members">
    <div class="container">
      <div class="row">
        <div class="col-md-6 team-member-container">
          <div class="team-member">
            <img src="https://imgur.com/XZVCdHj.png">
            <div class="img-overlay">
              <div class="content">
                <h3>Laura Kayler</h3>
                <span>
                  After the loss of her brother James, Laura finished her Undergraduate degree from Northern Illinois University in Public Health. Currently, she works at Rush University Medical Center.  Fun fact about Laura: She loves Chemistry and has a pet horse named, Jimi.
                  Favorite Band: Red Hot Chili Peppers
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 team-member-container">
          <div class="team-member">
            <img src="https://imgur.com/XU1lk7b.png">
            <div class="img-overlay">
              <div class="content">
                <h3>Sam Johnson</h3>
                <span>
                  Sam is actively involved in many non-profit organizations, such as Nicolas' Gift of Hope. Currently, Sam is in the process of completing her Associates degree in Liberal Arts. Fun fact about Sam: She loves to ice skate and once won a national championship!
                  Favorite Band: Modest Mouse
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="team-description">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>Our History</h2>
          {{!-- <p>Laura & Sam</p> --}}
          <p>
            Sam and Laura first met through mutual friends and instantly clicked. James and Laura (brother & sister) were introduced to Sam the same night. It wasn't long before James called Sam his best friend, but little did he know what their friendship would transpire into. The world lost James to his long battle with EDS in January 2014. The following days and nights were spent discussing what Sam & Laura could do to make an impact to help others with this genetic disorder. They immediately knew they wanted to make a footprint in the EDS community. Within a week they had founded James' Journey with EDS.
          </p>
          <p>
            Shortly after James' Journey was founded they began a Facebook page to begin raising awareness for EDS. The first day the page was launched they received 1,000 likes, which will continue to reach many others. By July 2015 they had put together their first fundraiser - James' Journey 5K Walk/Run, which brought together many supporters. Sam and Laura are proactively looking for new research all the time. They are constantly looking at different ways to reach all the different Zebras out there.
          </p>
        </div>
      </div>
    </div>
  </div>

  {{> subscribe_block}}
</div>