
<div id="our-work">

  {{!--
  miles run
  participants
  events
  money raised
  goals achieved
  best eds ngo
   --}}

  <div class="container-fluid bg">
    <div class="overlay-bg"></div>
    <div class="container">
      <div class="head">
        <h4>Our Work</h4>
        <h2>Lorem ipsum dolor sit amet.</h2>
      </div>
    </div>
  </div>

  <div class="our-work">
    <div class="mission-statement">
      <div class="container">
        <h3>Mission Statement</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo maxime quibusdam non iure doloribus aperiam tempora delectus, consequuntur rerum ullam ipsa nihil quod laudantium esse.</p>
      </div>
    </div>

    <div class="achivements">
      {{!-- <div class="overlay-bg"></div> --}}
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="fun-heading">
              <h3>
                Clients come first
                <br>
                In everything we do
              </h3>
              <p>
                Lorem ipsum dolor sit amet, con- sectetur adipisicing elit, sed do eiusmod tempor
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="row fun-facts border-bottom">
              <div class="col-sm-4 fun border-right">
                <h4 class="timer" data-from="0" data-to="250">250</h4>
                <h5>Goals Achieved</h5>
              </div>
              <div class="col-sm-4 fun border-right">
                <h4 class="timer" data-from="0" data-to="12">12</h4>
                <h5>Events Completed</h5>
              </div>
              <div class="col-sm-4 fun no-border">
                <h4 class="timer" data-from="0" data-to="5250">5250</h4>
                <h5>Money Raised</h5>
              </div>
            </div>

            <div class="row fun-facts">
              <div class="col-sm-4 fun border-right">
                <h4 class="timer" data-from="0" data-to="1">1</h4>
                <h5>Best EDS Non-profit</h5>
              </div>
              <div class="col-sm-4 fun border-right">
                <h4 class="timer" data-from="0" data-to="10500">10500</h4>
                <h5>Miles Ran</h5>
              </div>
              <div class="col-sm-4 fun no-border">
                <h4 class="timer" data-from="0" data-to="215">215</h4>
                <h5>Participants</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  {{> subscribe_block}}
</div>