
<div id="our-team">

  <div class="jumbohead">

    <div class="container">
      <div class="overlay-bg"></div>
      <div class="head">
        <p class="icon" align="center">
          <img src="http://dft010l2k5dxv.cloudfront.net/OurTeam_Icon.png">
        </p>
        <h1>Our Team</h1>
      </div>
    </div>

  </div>

  <h1>hello our team</h1>

  {{> subscribe_block}}
</div>
<div id="our-team"></div>