
<div id="our-work">

  {{!--
  miles run
  participants
  events
  money raised
  goals achieved
  best eds ngo
   --}}

  <div class="jumbohead">


    <div class="container">
      <div class="overlay-bg"></div>
      <div class="head">
        <p class="icon" align="center">
          <img src="https://dft010l2k5dxv.cloudfront.net/OurWork_Icon.png">
        </p>
        <h1>Our Work</h1>
      </div>
    </div>

  </div>

  <div class="mission-statement">
    <div class="container">
      <h3>Mission Statement</h3>
      <p>Our mission is to raise awareness, support research, and share stories about Ehlers-Danlos syndrome (EDS) along with other genetic and connective tissue disorders. We can fight this war together. We envision to raise awareness and help find a cure for all types of Ehlers-Danlos syndrome.</p>
    </div>
  </div>

  {{!-- achievments block goes here, its now in /our-work2 --}}

  {{> subscribe_block}}
</div>