
<div id="our-team">

  <div class="jumbohead">

    <div class="container">
      <div class="overlay-bg"></div>
      <div class="head">
        <p class="icon" align="center">
          <img src="http://dft010l2k5dxv.cloudfront.net/OurTeam_Icon.png">
        </p>
        <h1>Our Team</h1>
      </div>
    </div>

  </div>

  <div class="team-members">
    <div class="container">
      <div class="row">
        <div class="col-md-6 team-member-container">
          <div class="team-member">
            <img src="http://placehold.it/600x600">
            <div class="img-overlay">
              <div class="content">
                <h3>Laura Kayler</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, iste!</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 team-member-container">
          <div class="team-member">
            <img src="http://placehold.it/600x600">
            <div class="img-overlay">
              <div class="content">
                <h3>Sam Johnson</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, iste!</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="team-description">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>Our History</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor reiciendis nisi ducimus eos pariatur incidunt eveniet illo eum dolore aspernatur minima veritatis et recusandae quam debitis porro, ex iure. Aliquam.</p>
        </div>
      </div>
    </div>
  </div>

  {{> subscribe_block}}
</div>