

<div id="show-event">

  <div class="jumbohead">
    <div class="container">
      <div class="overlay-bg">
        <div class="head">
          {{!-- <p class="icon" align="center">
            <img src="/img/Get_Involved_Icon.png">
          </p> --}}
          <h4>Register for</h4>
          <h2>{{event.name}}</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="description">
          {{event.description}}
        </div>

        <br>
        <hr>
        <br>

        <div class="register">
          <h3>Register</h3>

          <div class="alert alert-success alert-dismissible register-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>

          <div class="alert alert-danger alert-dismissible register-error" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>

          <form method="POST" id="event-register-form" class="form">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <input type="text" name="f_name" class="first-name form-control" placeholder="First name...">
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <input type="text" name="l_name" class="last-name form-control" placeholder="Last name...">
                </div>
              </div>
              <div class="col-md-3 select-col">
                <div class="form-group pull-right">
                  <span class="select-label">t-shirt size</span>
                  <select name="tShirtSize" class="selectpicker" data-width="90px">
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" name="email" class="email form-control" placeholder="Email...">
            </div>
            <div class="form-group">
              <textarea name="message" class="message form-control" rows="6" placeholder="Message (optional) ..."></textarea>
            </div>

            {{!-- hidden slug --}}
            <input type="hidden" value="{{event.slug}}" name="slug" class="hidden-slug">
            <input type="hidden" value="{{event._id}}" name="event_id" class="hidden-slug">

            <input type="submit" value="Register" class="btn btn-default">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>