<div id="show-blog">

  <div class="jumbotron">
    <h1>{{blog.title}}</h1>
  </div>

  {{#if notice}}
    notice here
  {{/if}}

  <div class="container">

    <b>title:</b>{{blog.title}}
    <br>
    <b>content:</b>{{blog.content}}

  </div>

</div>