

<div id="show-event">

  <div class="jumbohead">
    <div class="container">
      <div class="overlay-bg"></div>
      <div class="head">
        <p class="icon" align="center">
          <img src="http://dft010l2k5dxv.cloudfront.net/ShowEventHeaderLogo.png">
        </p>
        <h4>Register for</h4>
        <h2>{{event.name}}</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <div class="description">
          {{event.description}}
        </div>

        <div class="register">
          <h3>Your information</h3>

          <div class="alert alert-success alert-dismissible register-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>

          <div class="alert alert-danger alert-dismissible register-error" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>

          <form method="POST" id="event-register-form" class="form">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <input type="text" name="f_name" class="first-name form-control" placeholder="First name...">
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <input type="text" name="l_name" class="last-name form-control" placeholder="Last name...">
                </div>
              </div>
              <div class="col-md-3 select-col">
                <div class="form-group pull-right">
                  <span class="select-label">t-shirt size</span>
                  <select name="tShirtSize" class="selectpicker" data-width="90px">
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" name="email" class="email form-control" placeholder="Email...">
            </div>
            <div class="form-group">
              <textarea name="message" class="message form-control" rows="6" placeholder="Message (optional) ..."></textarea>
            </div>

            <div class="payment-description">
              <h4 class="text-muted">We require payment on registration</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque at quibusdam quas, esse architecto dolore error provident animi quae dolorem sunt vel sapiente minus eum, voluptatem harum! Porro voluptatibus assumenda autem adipisci. Quam, neque illum laudantium corporis eveniet error, ipsa.</p>
            </div>

            <div class="payment-info">

              <div class="payment-errors"></div>

              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="nameOnCard">Name on card</label>
                    <input type="text" class="form-control" id="nameOnCard" name="nameOnCard" placeholder="John E Smith...">
                  </div>
                  <div class="form-group">
                    <label for="cardNumber">Card Number</label>
                    <input type="tel" id="cardNumber" name="cardNumber" class="form-control card-number cc-number" data-stripe="number" autocomplete="cc-number" placeholder="• • • •     • • • •     • • • •     • • • •">
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="cardNumber">Expiration Date</label>
                        <div class="row">
                          <div class="col-md-5">
                            <input type="text" size="2" id="expMonth" name="expMonth" class="form-control" placeholder="MM" data-stripe="exp_month">
                          </div>
                          <div class="col-md-6 exp-year-pull-left">
                            <input type="text" size="4" id="expYear" name="expYear" class="form-control" placeholder="YYYY" data-stripe="exp_year">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="cvcCode">Cvc Code</label>
                        <input type="text" class="form-control" id="cvcCode" name="cvcCode" data-stripe="cvc" placeholder="XXXX">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {{!-- hidden slug --}}
            <input type="hidden" value="{{event.slug}}" name="slug" class="hidden-slug">
            <input type="hidden" value="{{event._id}}" name="event_id" class="hidden-slug">

            <button type="submit" class="btn btn-primary btn-lg">Register</button>
          </form>
        </div>
      </div>

      <div class="col-md-4">
        Lorem ipsum dolor sit amet, consectetur.
      </div>
    </div>
  </div>

  {{> subscribe_block}}
</div>