<div id="show-blog">

  <div class="jumbotron" style="background-image: url({{blog.coverImage}}); background-size: cover; background-position: center;">
    <div class="container">
      <h1 class="title">{{blog.title}}</h1>
    </div>
  </div>

  <div class="meta">
    <div class="container">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus cupiditate distinctio aliquid animi harum nihil est placeat, voluptatum dolor vel.
    </div>
  </div>

  <div class="content">
    <div class="container">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias inventore ullam expedita labore similique, provident illum blanditiis iusto beatae. Repellendus eos dolorum fugit rem nesciunt cum sint, dolore illo velit minima itaque asperiores quaerat vitae vel, architecto laborum quo ipsum sapiente impedit soluta, explicabo quis a quidem aliquid. Libero minima eveniet et inventore enim debitis quisquam ducimus, cum sed minus itaque at fuga ullam dolorem ut ratione cumque repellat, adipisci omnis sequi consequuntur dolorum suscipit quis. Vitae suscipit a nam magnam quos soluta non corrupti enim explicabo sunt omnis debitis dicta, deserunt voluptas perferendis veniam! Ipsam omnis sapiente dolore non consectetur dicta nobis fugit, odio aperiam sequi explicabo quod. Adipisci officiis dolorem molestias, repudiandae! Delectus facilis suscipit minus veritatis harum labore numquam! Optio alias error, similique fugiat at! Ipsam culpa commodi fugit consequatur sint velit vel veniam atque cupiditate voluptas inventore odio, ducimus ullam ex quo possimus totam assumenda sunt molestias laborum reprehenderit pariatur dignissimos nostrum minima quam? Maxime, sit, quisquam. Facere pariatur minus veritatis molestiae enim magni illo culpa, unde exercitationem cumque amet temporibus sint excepturi dolorum. Praesentium rerum earum, ea nesciunt magni recusandae. Praesentium soluta, neque, mollitia vel doloremque voluptates, amet fugiat quis, culpa aliquam illo vitae sequi.</div>
  </div>



</div>