

<div id="show-event">
  <div class="container-fluid bg">
    <div class="container">
      <div class="head">
        <h4>Register for</h4>
        <h2>{{event.name}}</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <div class="description">
          {{event.description}}
        </div>

        <br>
        <hr>
        <br>

        <div class="register">
          <h3>Personal Information</h3>

          <div class="alert alert-success alert-dismissible register-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>

          <div class="alert alert-danger alert-dismissible register-error" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>

          <form method="POST" id="event-register-form" class="form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="f_name" class="first-name form-control" placeholder="First name...">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="l_name" class="last-name form-control" placeholder="Last name...">
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" name="email" class="email form-control" placeholder="Email...">
            </div>
            <div class="form-group">
              <textarea name="message" class="message form-control" rows="6" placeholder="Message (optional) ..."></textarea>
            </div>

            {{!-- hidden slug --}}
            <input type="hidden" value="{{event.slug}}" name="slug" class="hidden-slug">
            <input type="hidden" value="{{event._id}}" name="event_id" class="hidden-slug">

            <input type="submit" value="Register" class="btn btn-default">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>