#blogs .jumbotron {
  padding: 2em 1em;
  margin-bottom: 2em;
  color: inherit;
  background-color: #eee;
  min-height: 40em;
}

#blogs .jumbotron .title {
  color: #fff;
  font-size: 4.875em;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0.4em;
  margin: 3.6em auto 0;
  padding-bottom: 0.2em;
  max-width: 3.6em;
}

#blogs .jumbotron .title .subtitle {
  font-size: 0.3em;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 1.4px;
}

#blogs .smaller-fluid-container {
  padding: 2em 0 4em;
}

.blog-row {
  padding: 6em 1em;
}

.blog-row .image-and-meta {
  text-align: center;
}

.blog-row .image-and-meta img {
  border-radius: 50%;
}

.image-and-meta .author,
.image-and-meta .date {
  font-size: 1em;
  font-style: italic;
}

.image-and-meta .author {
  margin-top: 1em;
}

.image-and-meta .date {
  margin-bottom: 1em;
}

.title-and-contprev {
  margin-left: 1em;
}

.title-and-contprev .title {
  font-size: 2.25em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.6em;
}

.title-and-contprev .content {
  font-size: 1.25em;
  margin-bottom: 1.6em;
}



/* MEDIA QUERIES */

@media (max-width: 62em) {
  .title-and-contprev {
    text-align: center;
  }
}