body
{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
} /* 1em === 16px */

ul {
  margin: 0px 0px;
  padding: 0px 0px;
}

.jumbotron {
  overflow: auto;
}