#cover {
  margin: 0 -2px;
}

#cover .jumbotron {
  background-image: url(https://drscdn.500px.org/photo/116099309/m%3D2048/ba8b15d5884ba60972887cfdc0254984);
  height: 46em;
  width: 100%;
  color: #fff;
  padding-top: 10em;
}

#cover .jumbotron h1 {
  font-weight: 800;
}