.navbar {
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  max-width: 100%;
  margin: -1px -1px;
  border-radius: 0;
}

#navbar-wrapper {}

.right-margin {
  margin-right: 255px;
}

.navbar .navbar-brand {
  color: #fff;
}

.navbar-brand,
.menu-btn {
  padding: 1.2em;
}

.navbar-brand {
  margin-left: -1.2em;
}

.menu-btn {
  /*margin-right: 1.2em;*/
}

.menu-btn i {
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 0.4em 0.6em;
  font-size: 1.2em;
}

.menu-btn i:hover {
  background-color: #fff;
  color: #000;
}



.menu-btn {
  cursor: pointer;
  float: right;
}


/**
 * Slide Menu
 */

body {
  background-color: #333;
}

[canvas=container],
[off-canvas] {
  padding: 10px 20px;
}

.custom-fixed-width {
  width: 400px;
}

.custom-fluid-width {
  width: 60%;
}

@media ( min-width: 600px ) {
  .custom-fluid-width {
    width: 50%;
  }
}

@media ( min-width: 900px ) {
  .custom-fluid-width {
    width: 40%;
  }
}

@media ( min-width: 1200px ) {
  .custom-fluid-width {
    width: 30%;
  }
}

@media ( min-width: 1500px ) {
  .custom-fluid-width {
    width: 20%;
  }
}

[off-canvas] {
  background-color: #000;
  color: #ccc;
}

.offcanvas-nav {
  margin-top: 4.5em;
}

.offcanvas-nav li {
  width: 100%;
  font-size: 1.4em;
  font-weight: 300;
  padding: 0.1em 0;
  letter-spacing: 1.4px;
}

.offcanvas-nav li:hover {
  background-color: #fff;
  font-weight: 600;
  border-left: 4px solid #158cba;
  padding-left: 0.6em;
}

.offcanvas-nav li a {
  list-style: none;
  text-decoration: none;
  padding: 2.5px 40px;
  width: 100%;
  height: 100%;
}

.offcanvas-subnav {
  margin-top: 3.5em;
}

.offcanvas-subnav li {
  width: 100%;
  font-size: 1em;
  font-weight: 300;
}

.offcanvas-subnav li a {
  color: #A8CDF0;
  list-style: none;
  text-decoration: none;
  padding: 2.5px 40px;
  width: 100%;
  height: 100%;
}

.fb-like {
  padding: 5px 40px;
  margin-top: 3.5em;
}

#twitter-widget-0 { /*twitter*/
  position: relative !important;
  left: 40px;
}