.navbar {
  background-color: #333;
  color: #ccc;
  border: none;
  outline: none;
  max-width: 100%
}

.navbar .navbar-brand {
  color: #fff;
}

.navbar-brand,
.menu-btn {
  padding: 1.2em;
}

.menu-btn {
  cursor: pointer;
  float: right;
  color: #fff;
  font-weight: 400;
}
