.navbar {
  background-color: transparent;
  color: #ccc;
  border: none;
  outline: none;
  max-width: 100%;
  margin: 0 -1px;
}

.navbar .navbar-brand {
  color: #fff;
}

.navbar-brand,
.menu-btn {
  padding: 1.2em;
}

.navbar-brand {
  margin-left: -1.2em;
}

.menu-btn {
  margin-right: -1.2em;
}

.menu-btn {
  cursor: pointer;
  float: right;
}


/**
 * Slide Menu
 */

body {
  background-color: #333;
}

[canvas=container],
[off-canvas] {
  padding: 10px 20px;
}

.custom-fixed-width {
  width: 400px;
}

.custom-fluid-width {
  width: 60%;
}

@media ( min-width: 600px ) {
  .custom-fluid-width {
    width: 50%;
  }
}

@media ( min-width: 900px ) {
  .custom-fluid-width {
    width: 40%;
  }
}

@media ( min-width: 1200px ) {
  .custom-fluid-width {
    width: 30%;
  }
}

@media ( min-width: 1500px ) {
  .custom-fluid-width {
    width: 20%;
  }
}

[off-canvas] {
  background-color: #333;
  color: #ccc;
}

#offcanvas-menu h3 {
  color: #fff;
  margin: 3em 1em;

}