
/* Jumbotron */

#show-blog .jumbotron {
  padding: 30px 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  min-height: 40em;
}

#show-blog .jumbotron .title {
  color: #fff;
  font-size: 4.875em;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0.4em;
  margin-top: 2em;
}

/* SOCIAL */

ul.social-network {
  list-style: none;
  display: inline;
  margin-top: 10em;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 2.6em;
}

ul.social-network li:first-child {
  margin-left: 3.7em;
}


/* footer social icons */
.social-network a.icoRss:hover {
  background-color: #F56505;
}
.social-network a.icoFacebook:hover {
  background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
  background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
  background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
  background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
  background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 65px;
  height: 65px;
  font-size:1.4em;
}
.social-circle li i {
  margin:0;
  line-height: 65px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.icoFacebook,
.icoTwitter,
.icoGoogle {
 background-color: rgba(0,0,0,0.9);
}

/* Meta */

#show-blog .meta .smaller-fluid-container {
  border-bottom: 1px solid #ccc;
}

#show-blog .meta .subtitle {
  font-size: 2.25em;
  font-weight: 600;
  text-transform: uppercase;
}

#show-blog .meta .author {
  font-size: 1.125em;
  font-weight: 600;
  font-style: italic;
}

#show-blog .meta .date {
  font-size: 1.125em;
  font-weight: 600;
  font-style: italic;
  float: right;
  margin-bottom: 1em;
}

/* ==== Content ==== */

#show-blog .content .smaller-fluid-container {
  margin-bottom: 4em;
  border-bottom: 1px solid #ccc;
  line-height: 1.8;
  padding: 2em 0;
}

#show-blog .content p {
  font-size: 1.1em;
  padding: 0 1em;
}

/* ==== Featured Posts ==== */

#show-blog .featured-posts {
  background-color: #d7d7d7;
  padding: 2em;
}

#show-blog .featured-posts .post {
  padding: 2em 4em;
}

#show-blog .featured-posts h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.4em;
  font-size: 2.25em;
  font-weight: 600;
}

#show-blog .featured-posts img {
  border-radius: 0.6em;
  width: 100%;
}
#show-blog .featured-posts .title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 1em;
  font-size: 1.2em;
  color: #000;
}



/*MEDIA QUERIES*/

@media (max-width: 36em) {
  #show-blog .jumbotron {
    min-height: 30em;
  }
  #show-blog .jumbotron .title {
    font-size: 3em;
    margin-top: 4em;
  } 
}