#admin-page {
  padding: 4em 0;
}

#admin-page .title {}

#admin-page .options {
  text-align: right;
}

#admin-page td {
}

.admin-page__blogs,
.admin-page__subscribers {}

.admin-page__blogs .submenu,
.admin-page__subscribers .submenu,
.admin-page__events .submenu {
  position: relative;
  top: 20px;
  padding: 10px 0;
  height: 100%;
  background-color: #dedede;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.admin-page__blogs .submenu .item,
.admin-page__subscribers .submenu .item,
.admin-page__events .submenu .item {
  padding: 0px 10px;
  float: left;
  border-right: 1px solid #ccc;
}

.admin-page__events .btn-attendees,
.admin-page__events .edit-event-btn,
.admin-page__events .delete-event-btn {
  position: relative;
  float: right;
  margin-left: 10px;
}

.admin-page__events .btn-attendees i {
  position: relative;
  bottom: 3px;
  margin: auto 5px;
}

.admin-page__events .attendee-col {
  text-overflow: ellipsis;
  white-space: no-wrap;
  overflow: hidden;
  color: #eee;
}

.admin-page__events .attendee-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 6px;
  text-decoration: underline;
}

.admin-page__events .attendee-row {
  background-color: #666;
  display: none;
}

.admin-page__events .attendee-row:hover {
  background-color: #666;
}