#admin-page {
  padding: 4em 0;
}

#admin-page .title {}

#admin-page .options {
  text-align: right;
}

#admin-page td {
}

.admin-page__blogs,
.admin-page__subscribers {}

.admin-page__blogs .submenu,
.admin-page__subscribers .submenu,
.admin-page__events .submenu {
  position: relative;
  top: 20px;
  padding: 10px 0;
  height: 100%;
  background-color: #dedede;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.admin-page__blogs .submenu .item,
.admin-page__subscribers .submenu .item,
.admin-page__events .submenu .item {
  padding: 0px 10px;
  float: left;
  border-right: 1px solid #ccc;
}

.admin-page__events .btn-attendees {
  position: relative;
  float: right;
}

.admin-page__events .btn-attendees i {
  position: relative;
  bottom: 3px;
  margin: auto 5px;
}