
#blogs {
  background-color: #ddd;
}

#blogs .content {
  background-color: #ddd;
}

#blogs .head {
  position: relative;
  height: 26em;
  margin: 0 -15px;
  background-color: #0a3a4b;
  /*background-image: url(https://img0.etsystatic.com/028/2/6078010/il_570xN.579610998_pj9n.jpg);*/
  text-align: center;
  text-transform: uppercase;
}

#blogs .whitebg {
  background-color: #fff;
}

#blogs .head .wrap {
  position: relative;
  top: 240px;
  margin: 0 auto;
}

#blogs .head h2 {
  font-size: 64px;
  font-weight: bold;
  color: #fff;
}

#blogs .head h4 {
  font-size: 32px;
  color: #fff;
}

#blogs .blog .jumbo {
  height: 18em;
  position: relative;
}

#blogs .blog {
  position: relative;
  background-color: #fff;
  margin: 40px 0;
}

#blogs .blog:first-child {
  margin-top: 40px;
}

#blogs .blog .wrap {
  position: absolute;
  bottom: 30px;
  /*max-width: 1000px;*/
  padding: 0 20px;
}

#blogs .blog .wrap a {
  font-size: 32px;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #fff;
  color: blue;
  padding: 0 15px;
  line-height: 1.42857143;
  -webkit-box-decoration-break: clone;
}

#blogs .blog .meta {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  color: #aaa;
  border-bottom: 1px solid #ccc;
}

#blogs .blog .meta .left { text-align: left; }
#blogs .blog .meta .right { float: right; }
#blogs .blog .meta .right img {
  width: 20px;
  height: 20px;
}
#blogs .blog .meta,
#blogs .blog .blog-content {
  padding: 10px 30px;
}

#blogs .blog .blog-content {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#blogs .on-right {
  left: unset !important;
}

.takeupspace {
  height: 80px;
}