#blogs .jumbohead {
  background: url(http://dft010l2k5dxv.cloudfront.net/BlogHeaderImage.jpg);
  background-position: 90% 80%;
  background-repeat: no-repeat;
  background-size: cover;
}

#blogs .content {
  position: relative;
  background-color: #fff;
  padding: 0 20px;
}

#blogs .blog {
  position: relative;
  margin: 60px 0;
  padding: 0 0 10px;
  border: 1px solid #eee;
}

#blogs .blog:nth-child(1) {
  margin-top: 80px;
}

#blogs .blog .jumbo {
  height: 460px;
  position: relative;
  border: none;
  // background-size: cover;
}

#blogs .blog .wrap {
  position: absolute;
  bottom: 100px;
  padding: 0 30px;
}

#blogs .blog .wrap a {
  position: relative;
  font-size: 42px;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #fff;
  color: #47AFEB;
  line-height: 1.42857143;
  -webkit-box-decoration-break: clone;
}
#blogs .blog .wrap a:hover {
  background-color: #47AFEB;
  color: #fff;
}

#blogs .blog .meta,
#blogs .blog .blog-content {
  padding: 30px;
}

#blogs .blog .meta {
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: #aaa;
  border-bottom: 1px solid #eee;
  clear: both;
}

#blogs .blog .meta .left { text-align: left; }
#blogs .blog .meta .right { float: right; }
#blogs .blog .meta .right img {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

#blogs .blog .blog-content {
  font-size: 18px;
  font-weight: 400;
  color: #555;
}

#blogs .blog-content p { margin: 20px 0; }

#blogs .takeupspace {
  height: 100px;
}

#blogs .btn-read-more {
  background-color: transparent;
  border: 1px solid #47AFEB;
  color: #47AFEB;
  margin-top: 40px;
  font-size: 18px;
}

#blogs .btn-read-more:hover {
  background-color: #47AFEB;
  color: #fff;
}

#blogs .on-left {
  position: relative;
  top: -10px;
}

// #blogs .on-right__content {
//   position: relative;
//   top: -25px;
//   padding: 20px 0;
//   min-height: 100px;
// }

// #blogs .on-right__content .recent-updates {
// }

// #blogs .on-right__content .recent-updates h4 {
//   text-transform: uppercase;
//   margin-bottom: 10px;
//   font-weight: 700;
// }

// #blogs .on-right__content .featured-post {
//   padding: 10px 0;
//   background-color: #fff;
//   border-bottom: 1px solid #eaeaea;
// }

// #blogs .on-right__content .tag-list {
//   margin-top: 20px;
// }

// #blogs .on-right__content .tag-list h4 {
//   text-transform: uppercase;
//   font-weight: 700;
//   margin-bottom: 10px;
// }

// #blogs .on-right__content .tag-list ul {
//   padding: 10px 0;
// }

// #blogs .on-right__content .tag-list .tag {
//   float: left;
//   font-weight: 400;
//   margin: 1px;
// }

// #blogs .on-right__content .tag-list .tag a {
//   color: #fff;
//   width: 100%;
// }


@media (max-width: 62em) {

  #blogs .blog .wrap {
    bottom: 40px;
  }

  /* title */
  #blogs .blog .wrap a {
    font-size: 20px;
  }

  #blogs .content {
    padding: 0;
  }

  #blogs .on-right__content .featured-post {
    margin: 2px 30px;
  }

  #blogs .blog .meta {
    position: relative;
    padding: 10px 20px 20px;
    font-size: 14px;
  }

  #blogs .blog .meta .left,
  #blogs .blog .meta .right {
    float: none;
    display: block;
    text-align: center;
  }

  #blogs .blog .blog-content {
    position: relative;
    font-size: 14px;
    padding: 0 20px;
  }

  #blogs .blog .jumbo {
    height: 200px;
  }

  #blogs .blog:nth-child(1) {
    margin-top: 40px;
  }



}