
#blogs {
  background-color: #fafafa;
}

#blogs .content {
  position: relative;
  top: -20px;
  background-color: #fff;
  padding: 0 20px;
}

#blogs .head {
  position: relative;
  height: 26em;
  background-color: #5AB7D1;
  text-align: center;
  text-transform: uppercase;
}

#blogs .whitebg {}

#blogs .head .wrap {
  position: relative;
  top: 240px;
  margin: 0 auto;
}

#blogs .head h2 {
  font-size: 64px;
  font-weight: bold;
  color: #fff;
}

#blogs .head h4 {
  font-size: 32px;
  color: #fff;
}

#blogs .blog {
  position: relative;
  /*background-color: #fefefe;*/
  margin: 60px 0;
  /*box-shadow: 0px 1px 1px #aaa;*/
  padding: 0 0 10px;
  /*border-bottom: 2px solid #aaa;*/
  /*border-radius: 6px;*/
  border: 1px solid #dedede;
}

#blogs .blog:nth-child(1) {
  margin-top: 80px;
}

#blogs .blog .jumbo {
  height: 300px;
  position: relative;
  /*border-top-right-radius: 6px;
  border-top-left-radius: 6px;*/
  border: none;
}

#blogs .blog .wrap {
  position: absolute;
  bottom: 30px;
  padding: 0 30px;
}

#blogs .blog .wrap a {
  font-size: 32px;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #fff;
  color: #5AB7D1;
  padding: 0 15px;
  line-height: 1.42857143;
  -webkit-box-decoration-break: clone;
}
#blogs .blog .wrap a:hover {
  background-color: #5AB7D1;
  color: #fff;
}

#blogs .blog .meta {
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: #aaa;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  clear: both;
}

#blogs .blog .meta .left { text-align: left; }
#blogs .blog .meta .right { float: right; }
#blogs .blog .meta .right img {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

#blogs .blog .blog-content {
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
  color: #555;
}

#blogs .blog-content p { margin: 20px 0; }

#blogs .takeupspace {
  height: 100px;
}

#blogs .btn-read-more {
  background-color: transparent;
  border: 1px solid #5AB7D1;
  color: #5AB7D1;
  margin-top: 40px;
  font-size: 18px;
}

#blogs .btn-read-more:hover {
  background-color: #5AB7D1;
  color: #f0f0f0;
}

#blogs .on-right__content {
  position: relative;
  top: -25px;
  padding: 20px 0;
  min-height: 100px;
  /*border: 1px solid red;*/
}

#blogs .on-right__content .recent-updates {
  /*background-color: #fff;*/
}

#blogs .on-right__content .recent-updates h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
  /*text-align: center;*/
}

#blogs .on-right__content .featured-post {
  /*min-height: 60px;*/
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  /*margin: 0 15px;*/
}

#blogs .on-left {
  position: relative;
  top: -10px;
}


#blogs .on-right__content .tag-list {
  margin-top: 20px;
}

#blogs .on-right__content .tag-list h4 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

#blogs .on-right__content .tag-list ul {
  padding: 10px 0;
}

#blogs .on-right__content .tag-list .tag {
  float: left;
  font-weight: 400;
  margin: 1px;
}

#blogs .on-right__content .tag-list .tag a {
  color: #fff;
  width: 100%;
}


@media (max-width: 62em) {

  #blogs .blog {
  }

  /* title */
  #blogs .blog .wrap a {
    position: relative;
    top: -70px;
    font-size: 20px;
  }

  #blogs .content {
    padding: 0 20px;
  }

  #blogs .on-right__content .featured-post {
    margin: 2px 30px;
  }

  #blogs .blog .meta {
    position: relative;
    padding: 10px 20px 20px;
    font-size: 14px;
  }

  #blogs .blog .meta .left,
  #blogs .blog .meta .right {
    float: none;
    display: block;
    text-align: center;
  }

  #blogs .blog .blog-content {
    position: relative;
    font-size: 14px;
    padding: 0 20px;
  }

}

@media (max-width: 70em) {
  /*#blogs .blog .meta {
    position: relative;
    top: -40px;
  }*/
}