
#donate {}

#donate .jumbohead {
  background: url(https://s3.amazonaws.com/jamesbucket123/staticassets/donate-nonsat.jpg);
  background-position: 90% 80%;
  background-repeat: no-repeat;
  background-size: cover;
}

.donate-form-container {
  padding: 60px 0;
}

.exp-col {
  padding: 0 5px;
}

.exp-col:first-child {
  padding-left: 15px;
}

/* SMALL SCREEN */
@media (max-width: 62em) {
  .exp-col {
    padding: 0 15px;
  }
}