
#donate {}

#donate input {
  letter-spacing: 1.4px;
}

#donate .jumbohead {
  background: url(http://dft010l2k5dxv.cloudfront.net/Donate_Color.jpg);
  background-position: 90% 80%;
  background-repeat: no-repeat;
  background-size: cover;
}

.donate-form-container {
  padding: 60px 0;
}

.donate-submit-col {
  position: relative;
  top: -15px;
}

.exp-col {
  padding: 0 5px;
}

.exp-col:first-child {
  padding-left: 15px;
}

.donate-form-container .cards {
  position: relative;
  display: inline-block;
  height: 100%;
}

.donate-form-container .cards .card {
  height: 100%;
}

.panel-heading > div {
  position: relative;
  height: 100%;
}

.donate-submit-btn,
.spinner-container {
  float: left;
}

.spinner-container {
  padding-top: 5px;
  margin-left: 20px;
}

.spinner-container i {
  color: #a5a5a5;
}

/* SMALL SCREEN */
@media (max-width: 62em) {
  .exp-col {
    padding: 0 15px;
  }
}