#footer {
  padding: 4em 0;
  color: #aaa;
  background-color: #424242;
  text-transform: uppercase;
  font-size: 15px;
}

#footer ul {
  list-style: none;
  padding: 0;
}

#footer li {
  padding: 5px 0;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #4DAFCF !important;
}

#footer .foot {
  border-right: 2px solid #555;
  /*padding: 0 1.5em;*/
  height: 190px;
}

#footer .foot1o4 {
  padding-right: 40px;
  text-align: center;
}

#footer .foot1o4 .logo {
  text-align: center;
}

#footer .foot1o4 .logo img {
  height: 100px;
  margin: 0 auto;
}

#footer .foot1o4 h3 {
  color: #fff;
}

#footer .foot1o4 .copyw {
  color: #aaa;
  font-size: 12px;
}

#footer .foot2o4,
#footer .foot3o4 {
  padding: 0 1em;
}

#footer .foot4o4 {
  border-right: none;
  padding-left: 1.5em;
}

#footer .foot4o4 .contact {
  width: 200px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

#footer .foot3o4 .social {
}

#footer .foot3o4 i {
}

/*#footer .foot3o4 .facebook { color: #3B5998; }
#footer .foot3o4 .instagram { color: #000; }
#footer .foot3o4 .twitter { color: #4FA0FB; }*/

#footer .right-list a {
  color: #eee;
}

#footer .right-list ul li:first-child,
#footer .left-list ul li:first-child {
  padding-top: 0 !important;
}

#footer h4 {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}

@media (max-width: 62em) {
  #footer .foot {
    border-right: none;
  }

  #footer .foot4o4 {
    clear: both;
    padding: 1em;
    margin-top: 40px;
  }
}