
#galleries {
  background-color: #ddd;
}

#galleries .jumbohead {
  background: url(http://dft010l2k5dxv.cloudfront.net/GalleryHeaderImage2.jpg);
  background-position: 90% 80%;
  background-repeat: no-repeat;
  background-size: cover;
}

.whitebg {
  background-color: #fff;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid {
  margin-bottom: 100px;
}

.grid-sizer,
.grid-item {
  width: 25%;
  height: auto;
}

@media (max-width: 72em) {
  .grid-sizer,
  .grid-item {
    width: 33.33333%;
  }
}

@media (max-width: 52em) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}

@media (max-width: 36em) {
  .grid-sizer,
  .grid-item {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

/* override the chocolat defaults */
.chocolat-wrapper {
  z-index: 11000;
}
.chocolat-overlay {
  opacity: 0.95;
}