body {
  margin: 0;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  background: url(null) fixed;
  color: #333;
  position: relative;
} /* 1em === 16px */

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  color: #333;
}

a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input:required {
  border: 1px solid #C26464;
}

.btn {
  text-transform: uppercase;
}

table a:not(.btn), .table a:not(.btn) {
  text-decoration: none;
}

.main-cont {
  /*max-width: calc(100% - 50px);
  margin-left: 50px;*/
  /*height: 100vh;*/
  -webkit-transition: margin-left .3s ease-in-out,width .3s ease-in-out;
}

.bigger-btn {
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-top: none;
}

.on-right {
  position: relative;
  left: unset !important;
  top: -20px;
}

.main-cont { position: relative; }