
.small-line { border: 2px solid #333; width: 16em; margin: 1em auto; }

#fixed-buttons #fixed-donate .fa-heart {
  margin-right: 5px;
  font-size: 14px;
  color: #E93C54;
  font-weight: 700;
}

#cover h2 {
  font-size: 66px;
  font-weight: 400;
  text-align: center;
}

 /*
 ========= Jumbotron
  */

#jumbotron {
  display: block;
  height: 56em;
  width: 100%;
  text-align: center;
  // background: url(https://lh5.googleusercontent.com/-g_l9Md3A2sY/VyAbI1LuM_I/AAAAAAAAAR0/bvnTH_mHA-Yns7VgwhCZQgytIcMebkAKACL0B/w1025-h601-no/updated_splash_bkgd.jpg);
  // background: url(https://dft010l2k5dxv.cloudfront.net/jumbo-background-texture.jpg);
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-size: cover;
}

#jumbotron .jjlogo {
  max-width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 180px auto;
  background-color: #fff;
  // ACTUALLY LOOKS BETTER WITH WHITE BACKGROUND
  // background-image: url(../img/JumbotronInnerBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 6px solid #5d5d5d;
  overflow: hidden;
}

#jumbotron .jjlogo2 {
  position: relative;
  top: 200px;
}

#jumbotron .jjlogo img {
  position: relative;
  right: 5px;
  top: 80px;
  width: 175px;
  height: 175px;
}

#jumbotron .jjlogo h1 {
  position: relative;
  color: #5d5d5d;
  letter-spacing: -2px;
  top: 90px;
  font-weight: 400;
  font-size: 50px;
}


@media (max-width: 62em) {
  #jumbotron {
    height: 36em;
  }

  #jumbotron .jjlogo {
    height: 350px;
    margin-top: 140px;
  }

  #jumbotron .jjlogo img {
    top: 0px;
    width: 100px;
    height: 100px;
    margin-top: 6em;
  }

  #jumbotron .jjlogo h1 {
    top: 10px;
    font-size: 40px;
  }
}

/*
========= EDS preview
 */

#eds-preview {
  // background: url(https://dft010l2k5dxv.cloudfront.net/EdsPreviewZebra.jpg);
  display: block;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 8em 1em 12em;
}

#eds-preview .head {
  max-width: 610px;
  margin: 0 auto;
}

#eds-preview .head h2,
#eds-preview .head h3 {
  text-align: left;
  max-width: 800px;
}

#eds-preview .head h2 {
  color: #0a3a4b;
  font-size: 252px;
  font-weight: 700;
  text-transform: uppercase;
}

#eds-preview .head h3 {
  color: #c4ecfa;
  font-weight: 400;
  position: relative;
  bottom: 0.5em;
  left: 20px;
  font-size: 36px;
  text-transform: capitalize;
}

#eds-preview .small-line {
  border: 1px solid #0a3a4b;
}

#eds-preview p {
  color: #c4ecfa;
  font-size: 22px;
  font-weight: 300;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
}

@media (max-width: 62em) {
  #eds-preview {
    padding: 4em 1em 6em;
  }

  #eds-preview .head h2 {
    font-size: 100px;
    margin-bottom: 10px;
    text-align: center;
  }
  #eds-preview .head h3 {
    left: 0;
    font-size: 22px;
    text-align: center;
  }
  #eds-preview p {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
  }
}

/*
========= Quote1
 */

#quote1 {
  // background: url(../img/zebrabg.png) no-repeat center;
  background-size: cover;
  padding: 4em 0 5em;
}

#quote1 h2 {
  color: #c4ecfa;
  margin-bottom: 40px;
}

#quote1 .small-line {
  border: 1px solid #c4ecfa;
}

#quote1 p {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #f0f0f0;
}


/*
========= About James
 */

#about-james {
  position: relative;
  background-color: #c4ecfa;
  padding: 6em 0;
  min-height: 48em;
  color: #555;
}

#about-james .head {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
}

#about-james .head h2 {
  font-size: 48px;
  font-weight: 400;
  color: #0a3a4b;
}

#about-james .image-slider {
  /*height: 40em;*/
  border-radius: 4px;
}

#about-james .image-slider img {
  border-radius: 4px;
}

#about-james .info {
  padding: 0 20px 0;
  /*min-height: 50em;*/
}

#about-james .info h3 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 20px;
}

#about-james .info p {
  font-size: 20px;
  font-weight: 300;
}

#slider {
  list-style: none;
  padding: 10px;
}

.slider__item.show {
  /*float: left;*/;
  opacity: 1;
  height: auto;
  transition: all 1s ease-in-out;
}

.slider__item {
  display: block;
  margin: 0 auto;
  transition: all 2s ease-in-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

#slider .s-img {
  background-color: #000;
  max-height: 500px;
  margin-left: 40px;
}

@media (max-width: 62em) {
  #about-james {
    padding: 80px 20px;
  }

  #about-james .head {
    margin-bottom: 20px;
  }

  #about-james .head h2 {
    font-size: 32px;
  }

  #slider .s-img {
    margin-left: 0;
  }

  #about-james .info {
    padding: 0;
  }

  #about-james .info h3 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;
  }

  #about-james .info p {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    padding: 0px 10px;
  }
}

/* =====>>>>
EVENTS PREVIEW
*/

#events-preview {
  padding: 5em;
  background-color: #0a3a4b;
}

#events-preview h2 {
  text-transform: uppercase;
  font-size: 48px;
  margin-bottom: 10px;
  margin-bottom: 60px;
  font-weight: 400;
  color: #CBEBF8;
}

#events-preview .view-events-btn {
  margin: 0 auto;
  text-align: center;
}

#events-preview .event-preview {
  background-color: #d1d1d1;
  padding: 20px;
  margin-bottom: 60px;
  height: 250px;
  border-radius: 4px;
}

.event-preview .date .month,
.event-preview .date .day,
.event-preview .location,
.event-preview .citystate {
  color: #555;
}

.event-preview .date .month {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 0;
}

.event-preview .date .day {
  font-size: 46px;
  font-weight: 700;
}

#events-preview .btn {
  text-align: center;
  float: center;
}


@media (max-width: 62em) {
  #events-preview {
    padding: 80px 10px 80px;
  }

  #events-preview h2 {
    font-size: 34px;
  }

  #events-preview .event-preview {
    padding: 40px 40px;
    margin-bottom: 40px;
  }
}

/*
========= Recent Updates
 */

#recent-updates {
  display: block;
  /*min-height: 40em;*/
  padding: 6em 0 6em;
  background-color: #0a3a4b;
  height: 100%;
  text-align: center;
}

#recent-updates .head {
  text-align: center;
  margin-bottom: 100px;
}
#recent-updates .head h2 {
  font-size: 42px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

#recent-updates .update {
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  border: 1px solid #000;
  height: 479px;
  overflow: hidden;
  // background: #000;
  color: #FFF;
  z-index: 5;
  margin-left: -1px;
  margin-top: -1px;
  // display: none;
  text-align: center;
}

#recent-updates .update a {
  width: 100%;
  height: 100%;
  color: #fff;
}

#recent-updates .update .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

#recent-updates .update .bg img {
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: -20;

  opacity: 0.25;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

#recent-updates .update:hover .bg img {
  opacity: 1;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  -webkit-transform:scale(1.05); /* Safari and Chrome */
  -moz-transform:scale(1.05); /* Firefox */
  -ms-transform:scale(1.05); /* IE 9 */
  -o-transform:scale(1.05); /* Opera */
  transform:scale(1.05);
}

#recent-updates .update:hover .content {
  background-color: rgba(0,0,0,0.4);
}

#recent-updates .update .content {
  z-index: 20;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  letter-spacing: 1.4px;
  position: relative;
  bottom: 0;
  margin: 120px 0 0;
  padding: 20px;
  min-width: 120px;
  max-width: 280px;
  color: #aaa;
  font-size: 14px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
#recent-updates .update .content p.title {
  font-size: 24px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

#recent-updates .btn {
  text-align: center;
  margin: 100px auto 0;
}

@media (max-width: 62em) {
  #recent-updates .update {
    height: 360px;
  }

  #recent-updates .update .content {
    margin-top: 70px;
  }

  #recent-updates .update .content p.title {
    font-size: 20px;
  }

  #recent-updates .head h2 {
    font-size: 34px;
  }
}

/* FOR BIG SCREEN */
@media (min-width: 100em) {
  #jumbotron {
    height: 60em;
  }

  #recent-updates .updates {
    max-width: 100em;
    margin: 0 auto;
  }
}
