/*HEADER weight: 400, 700*/
/*TYPE weight: 300, 400*/

/*good blue #00aeef */

.small-line { border: 2px solid #333; width: 16em; margin: 1em auto; }

#cover h2 {
  font-size: 66px;
  font-weight: 400;
  text-align: center;
}

 /*
 ========= Jumbotron
  */

#jumbotron {
  height: 50em;
  text-align: center;
  background: url(/img/jumbo_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: fixed;
}

#jumbotron .jjlogo {
  max-width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 180px auto;
  background-color: #fff;
  background-image: url(https://lh5.googleusercontent.com/-hCm2725zqbw/VtzEVUMUYJI/AAAAAAAAAIQ/muX3J6HTFp4/s451-no/image_background-02.png);
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: fixed;
  border: 6px solid #666;

}

#jumbotron .jjlogo img {
  position: relative;
  right: 5px;
  top: 80px;
  width: 175px;
  height: 175px;
}

#jumbotron .jjlogo h1 {
  position: relative;
  color: #6d6d6d;
  letter-spacing: -2px;
  top: 90px;
  font-weight: 400;
  font-size: 50px;
}

/*
========= EDS preview
 */

#eds-preview {
  background-color: #2e738f;
  color: #fff;
  padding: 6em 1em 10em;
}

#eds-preview .head {
  max-width: 610px;
  margin: 0 auto;
}

#eds-preview .head h2,
#eds-preview .head h3 {
  text-align: center;
  max-width: 800px;
}

#eds-preview .head h2 {
  color: #0a3a4b;
  font-size: 252px;
  font-weight: 700;
  text-transform: uppercase;
}

#eds-preview .head h3 {
  color: #c4ecfa;
  font-weight: 400;
  position: relative;
  bottom: 0.5em;
  font-size: 36px;
  text-transform: capitalize;
}

#eds-preview .small-line {
  border: 1px solid #0a3a4b;
}

#eds-preview p {
  color: #c4ecfa;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1.5em;
  padding: 0 1em;
}

/*
========= Quote1
 */

#quote1 {
  background: url(../img/zebrabg.png) no-repeat center;
  background-size: cover;
  padding: 4em 0 5em;
}

#quote1 h2 {
  color: #c4ecfa;
  margin-bottom: 40px;
}

#quote1 .small-line {
  border: 1px solid #c4ecfa;
}

#quote1 p {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #f0f0f0;
}


/*
========= About James
 */

#about-james {
  position: relative;
  background-color: #fff;
  padding: 6em 0;
  // height: 52em;
  min-height: 52em;
  // min-height: 48em;
  color: #555;
}

#about-james .head {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
}

#about-james .head .small-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-weight: 700;
  color: #222;
}

#about-james .head h2 {
  font-size: 48px;
  font-weight: 400;
  color: #00aeef;
}

#about-james .image-slider {
  // height: 40em;
}

#about-james .info {
  padding: 0 20px 0;
  // min-height: 50em;
}

#about-james .info h3 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 20px;
}

#about-james .info p {
  font-size: 20px;
  font-weight: 300;
}

#slider {
  list-style: none;
  padding: 10px;
}

.slider__item.show {
  /*float: left;*/;
  opacity: 1;
  height: auto;
  transition: all 1s ease-in-out;
}

.slider__item {
  display: block;
  margin: 0 auto;
  transition: all 2s ease-in-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

#slider .s-img {
  background-color: #000;
  max-height: 600px;
}

#events-preview {
  padding: 5em;
  background-color: #183A4A;
}

#events-preview h2 {
  text-transform: uppercase;
  font-size: 48px;
  margin-bottom: 10px;
  margin-bottom: 60px;
  font-weight: 400;
  color: #CBEBF8;
}

#events-preview .view-events-btn {
  margin: 0 auto;
  text-align: center;
}

#events-preview .event-preview {
  background-color: #d1d1d1;
  padding: 20px;
  margin-bottom: 60px;
  height: 250px;
}

.event-preview .date {}

.event-preview .date .month {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 0;
}

.event-preview .date .day {
  font-size: 46px;
  font-weight: 700;
}

.event-preview .location {}

.event-preview .city-state {}

#events-preview .btn {
  text-align: center;
  float: center;
}

/*
========= Recent Updates
 */

#recent-updates {
  display: block;
  /*min-height: 40em;*/
  padding: 4em 0 6em;
  background-color: #0a3a4b;
  height: 100%;
  text-align: center;
}

#recent-updates .head {
  text-align: center;
  margin-bottom: 40px;
}
#recent-updates .head h2 {
  font-size: 42px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

#recent-updates .update {
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  border: 1px solid #FFF;
  height: 479px;
  overflow: hidden;
  background: #000;
  color: #FFF;
  z-index: 5;
  margin-left: -1px;
  margin-top: -1px;
  // display: none;
  text-align: center;
}

#recent-updates .update a {
  width: 100%;
  height: 100%;
  color: #fff;
}

#recent-updates .update .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

#recent-updates .update .bg img {
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: -20;

  opacity: 0.1;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

#recent-updates .update:hover .bg img {
  opacity: 1;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  -webkit-transform:scale(1.05); /* Safari and Chrome */
  -moz-transform:scale(1.05); /* Firefox */
  -ms-transform:scale(1.05); /* IE 9 */
  -o-transform:scale(1.05); /* Opera */
  transform:scale(1.05);
}

#recent-updates .update:hover .content {
  background-color: rgba(0,0,0,0.4);
}

#recent-updates .update .content {
  z-index: 20;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  letter-spacing: 1.4px;
  position: relative;
  bottom: 0;
  margin: 120px 0 0;
  padding: 20px;
  // border-radius: 8px;
  min-width: 120px;
  max-width: 280px;
  color: #aaa;
  font-size: 14px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
#recent-updates .update .content p.title {
  font-size: 24px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

#recent-updates .btn {
  text-align: center;
  margin: 80px auto 0;
}



/* SMALL SCREEN */
@media (max-width: 62em) {

  #jumbotron {
    height: 36em;
  }

  #jumbotron .jjlogo img {
    margin-top: 6em;
  }

  #jumbotron p {
    padding: 1em;
    margin-top: 0;
    font-size: 18px;
  }

  #quote1 h2 {
    font-size: 36px;
  }

  #quote1 p {
    font-size: 18px;
    padding: 1em;
    margin-top: 10px;
  }

  #about-james .info h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  #about-james .info {
    padding: 3em 1em;
  }

  #about-james .info p {
    font-size: 18px;
    margin-top: 20px;
    padding: 1em;
  }

  #eds-preview .head h2 {
    font-size: 100px;
    margin-bottom: 30px;
  }
  #eds-preview .head h3 {
    font-size: 25px;
  }
  #eds-preview p {
    font-size: 18px;
  }

  #we-need-you {
    padding: 2em;
  }

  #we-need-you h2 {
    font-size: 44px;
  }

  #we-need-you p.sub-title {
    font-size: 22px;
  }

  .need-item .circular {
    width: 200px;
    height: 200px;
  }

  .need-item {
    margin-bottom: 80px;
  }

  .need-item p {
    font-size: 18px;
  }

  .need-item a {
    display: block;
    width: 140px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
  }

  #recent-updates {}

  #recent-updates h2 {
    font-size: 36px;
  }

}

/* FOR BIG SCREEN */
@media (min-width: 100em) {
  #jumbotron {
    height: 60em;
  }

  #about-james .info {
    /*padding: 6em 12em;*/
  }

  #recent-updates .updates {
    max-width: 100em;
    margin: 0 auto;
  }
}