

.small-line { border: 2px solid #333; width: 16em; margin: 1em auto; }

#cover h2 {
  font-size: 66px;
  font-weight: 400;
  text-align: center;
}


/*
colors used:
#0a3a4b
#9fe2fa
#1972bf
#c4ecfa
#f0f0f0
#2E738F
 */

 /*
 ========= Jumbotron
  */

#jumbotron {
  height: 50em;
  text-align: center;
}

#jumbotron .jjlogo {
  max-width: 500px;
  margin: 0 auto;
}

#jumbotron .jjlogo img {
  margin-top: 12em;
}

/*
========= Small Description
 */

.short-description p {
  margin-top: 40px;
  padding: 0 12em;
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  color: #19728f;
}

.short-description .small-line {
  border: 1px solid #19728f;
}


/*
========= EDS preview
 */

#eds-preview {
  background-color: #2e738f;
  color: #fff;
  padding: 2em 1em 6em;
}

#eds-preview .head {
  max-width: 550px;
  margin: 0 auto;
}

/* 360px, 53.33px, 32px */
#eds-preview .head h2,
#eds-preview .head h3 {
  text-align: center;
  max-width: 550px;
}

#eds-preview .head h2 {
  color: #0a3a4b;
  font-size: 300px;
  font-weight: 600;
  text-transform: uppercase;
}

#eds-preview .head h3 {
  color: #c4ecfa;
  position: relative;
  bottom: 0.5em;
  font-size: 50px;
  text-transform: capitalize;
}

#eds-preview .small-line {
  border: 1px solid #0a3a4b;
}

#eds-preview p {
  color: #c4ecfa;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1.5em;
  padding: 0 1em;
}


/*
========= Quote1
 */

#quote1 {
  background: url(../img/zebrabg.png) no-repeat center;
  background-size: cover;
  padding: 4em 0 5em;
}

#quote1 h2 {
  color: #c4ecfa;
  margin-bottom: 40px;
}

#quote1 .small-line {
  border: 1px solid #c4ecfa;
}

#quote1 p {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  color: #f0f0f0;
}


/*
========= About James
 */

#about-james {
  /*min-height: 46em;*/
}

#about-james .info {
  background-color: #9fe2fa;
  padding: 4em 6em;
  /*min-height: 46em;*/
}

#about-james .image-gal {
  /*min-height: 46em;*/
}

#about-james h2 {
  color: #19728f;
  margin-bottom: 40px;
}
#about-james .small-line {
  border: 1px solid #19728f;
}
#about-james p {
  font-size: 24px;
  text-align: center;
  font-weight: 200;
  margin-top: 40px;
}

/*
========= We Need You
 */

#we-need-you {
  min-height: 46em;
  padding: 2em 0;
  background: url(../img/weneedyou.png);
  color: #f0f0f0;
}

#we-need-you h2 {
  color: #f0f0f0;
  font-size: 120px;
  font-weight: 600;
}
#we-need-you .small-line {
  border: 1px solid #f0f0f0;
  margin-bottom: 3em;
}
#we-need-you p.sub-title {
  text-align: center;
  font-size: 40px;
}

.need-item {
  margin-top: 2em;
  margin-bottom: 2em;
}

.need-item .circular {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.need-item img {
  border: 10px solid #c4ecfa;
  border-radius: 50%;
  background-color: #000;
}

.need-item p {
  text-align: center;
  font-size: 20px;
  padding: 0.5em;
  font-weight: 300;
}

.need-item a {
  display: block;
  width: 190px;
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: 400;
}


/*
========= Recent Updates
 */

#recent-updates {
  background-color: #0a3a4b;
  padding-bottom: 4px;
}

#recent-updates .title {
  padding: 2em;
}
#recent-updates h2 {
  font-weight: 400;
  color: #c4ecfa;
  margin-bottom: 20px;
}
#recent-updates .small-line { border: 1px solid #c4ecfa; }

#recent-updates .updates {
  padding: 3.75px;
}

/* change gutters */
.updates .update-container { padding: 3.75px; }

.update {
  height: 260px;
  overflow: hidden;
  border-radius: 4px;
  background-size: 100% 100%;
}

/* for overlay */
.update .wrapper {
  height: 260px;
  position: absolute;
  bottom: 3.75px;
  left: 3.75px;
  right: 3.75px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 4px;
}


/* so content could be pulled to the bottom */
.update .wrapper > div {
  position: absolute;
  bottom: 10px;
  padding: 0 15px;
}

.update .tags {
  margin-bottom: 10px;
}
.update .tag {
}

.update .post-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  color: #0a3a4b;
  background-color: rgba(196, 236, 250, 0.9);
  padding: 0 5px;
  border-radius: 3px;
  /*float: left;*/
  /* so all lines of name have the padding */
  -webkit-box-decoration-break: clone;
}

.update .descr {
  color: #f0f0f0;
  font-size: 14px;
}

/* name and date row */
.update p {
  font-weight: 400;
  font-size: 14px;
  color: #f0f0f0;
  text-shadow: 1px 1px #0a3a4b;
  margin-top: 15px;
}
.update p .poster-image {
  position: relative;
  bottom: 2px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.update p .poster-name {
  padding-right: 10px;
}
.update p .poster-date {
  text-align: right;
  padding-left: 10px;
}


/* media queries */
@media (max-width: 62em) {

  #jumbotron {
    height: 36em;
  }

  #jumbotron .jjlogo img {
    margin-top: 6em;
  }

  #jumbotron p {
    padding: 1em;
    margin-top: 0;
    font-size: 18px;
  }

  #quote1 h2 {
    font-size: 36px;
  }

  #quote1 p {
    font-size: 18px;
    padding: 1em;
    margin-top: 10px;
  }

  #about-james {}

  #about-james .info h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  #about-james .info {
    padding: 3em 1em;
  }

  #about-james .info p {
    font-size: 18px;
    margin-top: 20px;
    padding: 1em;
  }

  #eds-preview header h2 {
    font-size: 100px;
    margin-bottom: 30px;
  }
  #eds-preview header h3 {
    font-size: 25px;
  }
  #eds-preview p {
    font-size: 18px;
  }

  #we-need-you {
    padding: 2em;
  }

  #we-need-you h2 {
    font-size: 44px;
  }

  #we-need-you p.sub-title {
    font-size: 22px;
  }

  .need-item .circular {
    width: 200px;
    height: 200px;
  }

  .need-item {
    margin-bottom: 80px;
  }

  .need-item p {
    font-size: 18px;
  }

  .need-item a {
    display: block;
    width: 140px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
  }

  #recent-updates {}

  #recent-updates h2 {
    font-size: 36px;
  }

}