#instructions,
#inst-main {
  position: relative;
}

.affix-top,.affix{
 position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    width:228px;
  }

  #sidebar.affix {
    position: fixed;
    top:90px;
    width:228px;
  }
}

#sidebar li a{
  display: block;
  font-size: 14px;
  padding: 4px 20px;
  color: #767676;
  font-weight: 600;
}

#sidebar > li.active {
  color: #50B7EC;
  text-decoration: none;
  background-color: transparent;
  border-right: 1px solid #50B7EC;
}

#sidebar.nav .nav {
  display: none;
  // font-size:12px;
}
#sidebar.nav>.active>ul {
  display: block;
}

#sidebar .sub-li {
  padding-left: 30px;
  font-weight: 400;
  font-size: 13px;
}

#inst-main {}

#inst-main > section {
  line-height: 160%;
  letter-spacing: 1.4px;
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

#inst-main > section:first-child {
  margin-top: 0;
  padding-top: 0;
}

#inst-main > section h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 40px;
}

#inst-main > section h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-decoration: underline;
}

#inst-main > section p {
  margin: 15px 0;
}


#inst-main > section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#inst-main > section ul > li {
  margin: 20px 0;
}
#inst-main > section ul > li:first-child {
  margin-top: 0;
}
#inst-main > section ul > li b {
  font-weight: 400;
  background-color: rgba(255, 255, 0, 1);
  padding: 2px 4px;
}

#inst-main > section b.light-b {
  font-weight: 400;
  background-color: rgba(255, 255, 0, 0.15);
  padding: 2px 4px;
}

#inst-main > section ul > li p {
  margin: 5px 0 10px;
}

#inst-main > section img.instr-img {
  margin: 20px 0;
  border-radius: 4px;
}