

header {
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: inherit;
  z-index: 10003;
  background-color: transparent;
  /*box-shadow: 0px 0px 5px 2px #e8e8e8;*/
  color: #999;
}

.main-content.push-right header {
  left: -300px;
}

header #header-logo-link {
  -moz-transition-property: width,height,opacity;
  -o-transition-property: width,height,opacity;
  -webkit-transition-property: width,height,opacity;
  transition-property: width,height,opacity;
  -moz-transition-duration: 0.2s,0.2s,0.3s;
  -o-transition-duration: 0.2s,0.2s,0.3s;
  -webkit-transition-duration: 0.2s,0.2s,0.3s;
  transition-duration: 0.2s,0.2s,0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0;
  background-image: url(http://dft010l2k5dxv.cloudfront.net/SmallLogoWhite.png);
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  height: 60px;
  position: relative;
}

header #header-menu-link {
  -moz-transition-property: opacity,right,color;
  -o-transition-property: opacity,right,color;
  -webkit-transition-property: opacity,right,color;
  transition-property: opacity,right,color;
  -moz-transition-duration: 0.3s,0.2s;
  -o-transition-duration: 0.3s,0.2s;
  -webkit-transition-duration: 0.3s,0.2s;
  transition-duration: 0.3s,0.2s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  font-family: "futura-pt",sans-serif;
  font-weight: 400;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 1;
  color: #999;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  right: 45px;
  margin-top: -8px;
}

header #header-menu-link:hover,
header #header-menu-link:active {
  text-decoration: none;
  color: #4dafcf !important;
}

header.with-bg #header-menu-link:hover,
header.with-bg #header-menu-link:active {
  text-decoration: none;
  color: #fff !important;
}

header.with-bg {
  background-color: #424242;
  padding: 15px 40px;
}

header.with-bg #header-logo-link {
  width: 125px;
  height: 50px !important;
}

#nav-menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0px;
  padding-top: 100px;
  display: none;

  background-color: #424242;
}

#nav-menu .wrap {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

#nav-menu h3,
#nav-menu .list,
#nav-menu .link {
  width: 300px;
  margin: 0;
  padding: 0;
}

#nav-menu h3 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  height: 80px;
  padding: 30px 10px;
  font-size: 32px;
}

#nav-menu .list {
  list-style: none;
}

#nav-menu ul.bottom-list {
  position: relative;
  top: 40px;
}
#nav-menu .link {
  font-weight: 300;
  padding: 5px 5px 5px 40px;
}

#nav-menu .link a {
  color: #ccc;
}

#nav-menu .link a:hover {
  color: #fff;
}

#nav-menu .link:hover a {
  color: #4DAFCF;
}

#nav-menu .link:hover {
  border-left: 6px solid #4DAFCF;
}

#nav-menu .large-link a {
  font-size: 24px;
}

#nav-menu .small-link a {
  font-size: 16px;
  color: #63AECC;
}

