#new-blog {
  padding: 4em 0;
}

#new-blog h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4em;
}

#blog-form {
  padding: 0 2em 8em;
  max-width: 40em;
  margin: 3em auto;
}

#blog-form .current-count {
  font-size: 14px;
  color: #aaa;
}