#programs-slider {
  position: relative;
  background-color: #eee;
}

#programs-slider .head {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 4em;
}

#programs-slider .head h2 {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 800;
  color: #3F738D;
  margin-bottom: 10px;
}

#programs-slider .head p {
  font-size: 22px;
  font-weight: 400;
  color: #555;
}

#programs-slider .container-fluid {
  padding: 0;
}

.slider {
  position: relative;
  height: 700px;
  width: 100%;
  overflow: hidden;
  bottom: 0px;
  padding: 0;
  text-align: center;
}

.slider .program {
  position: relative;
  bottom: 0px;
}

.slider:before {
  content: '';
  border-left: 83px solid transparent;
  border-right: 83px solid transparent;
  border-top: 40px solid #eee;
  position: relative;
  top: 38px;
  z-index: 1;
  text-align: center;
}

#programs-slider .container-fluid {
  overflow: hidden;
}

#programs-slider .program {
  -moz-transition-property: left;
  -o-transition-property: left;
  -webkit-transition-property: left;
  transition-property: left;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 25%;
  height: 700px;
  overflow: hidden;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  position: absolute;
  margin-right: 1px;
  background: #000;
  color: #eee;
}

#programs-slider a.program:nth-child(1) {
  left: 0%;
  border-left: none;
}

#programs-slider a.program:nth-child(2) {
  left: 20%;
}

#programs-slider a.program:nth-child(3) {
  left: 40%;
}

#programs-slider a.program:nth-child(4) {
  left: 60%;
}

#programs-slider a.program:nth-child(5) {
  left: 80%;
}

#programs-slider a.program .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#programs-slider a.program .bg img {
  max-width: none;
  width: auto;
  height: 100%;
  left: -170px;
  position: absolute;
}

#programs-slider .saturated-img {
  display: none;
}

#programs-slider .desaturated-img {
  position: relative;
}

#programs-slider a.program .content {
  -moz-transition-property: width,left;
  -o-transition-property: width,left;
  -webkit-transition-property: width,left;
  transition-property: width,left;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  position: relative;
  z-index: 1;
  padding-top: 220px;
  height: 490px;
  text-align: center;
}

#programs-slider a.program .content .title {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 100%;
  padding: 10px 20px 40px;
}
#programs-slider a.program .content .icon {
  width: 100%;
}

/* FOR BIG SCREEN */
@media (min-width: 100em) {
  #programs-slider .program {
    height: 900px;
  }

  #programs-slider .head {
    padding: 6em 4em 4em;
  }
}