
#show-event {
  position: relative;
}

#show-event .jumbohead {
  background: url(http://dft010l2k5dxv.cloudfront.net/ShowEventHeaderImage.jpg);
  background-position: 90% 80%;
  background-repeat: no-repeat;
  background-size: cover;
}

#show-event .bg {
  position: relative;
  background-color: #5AB7D1;
  height: 20em;
  margin-bottom: 40px;
}

#show-event .head {
  position: relative;
  top: 120px;
}

#show-event .head h4,
#show-event .head h2 {
  color: #fff;
}

#show-event .head h4 {
  text-transform: uppercase;
  font-size: 18px;
  color: #dedede;
}

#show-event .head h2 {
  font-size: 48px;
}

#show-event .register {}

#show-event .register h3 {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 24px;
  text-transform: uppercase;
  color: #424242;
}

#show-event .description {
  margin: 40px 0;
}

#show-event .register {
  padding-bottom: 120px;
}

#show-event #event-register-form {
  margin-bottom: 40px;
}

#show-event #event-register-form input,
#show-event #event-register-form textarea {
  font-size: 20px;
}

#show-event .register-success,
#show-event .register-error {
  display: none;
}

#event-register-form .payment-description {
  padding: 20px 20px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#event-register-form .payment-description h4 {
  // margin-top: 10px;
  margin-bottom: 10px;
}

#event-register-form p {
  font-size: 14px;
}

#event-register-form .payment-info {
  padding: 20px 0 20px 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #ccc;
}

#event-register-form label {
  color: #777;
  font-weight: 400;
}

#event-register-form .show-total {
  font-size: 18px;
  text-transform: uppercase;
}

#event-register-form .exp-year-pull-left {
  position: relative;
  left: -25px;
}

.register-event-btn,
.spinner-container {
  float: left;
  margin-top: 20px;
}

#event-google-map {
  // width: 400px;
  height: 300px;
  margin-top: 40px;
  border-radius: 4px;
}

@media (min-width: 979px) {
  #event-sidebar {
    position: relative;
  }
  #event-sidebar.affix-top {
    position: static;
    width:400px;
  }

  #event-sidebar.affix-bottom {
    position: absolute;
    top: auto;
    width: 400px;
  }

  #event-sidebar.affix {
    position: fixed;
    top:60px;
    width:400px;
  }
}

#show-event .location {}
#show-event .location h3 {
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#show-event .location > div {
  font-size: 18px;
}

@media (max-width: 62em) {
  #event-register-form .exp-year-pull-left {
    left: 0;
  }
}
