
/* Jumbotron */

#show-blog {
  background-color: #ddd;
}

#show-blog .jumbo {
  position: relative;
  height: 36em;
  margin: 0 -15px;
}

#show-blog .wrap {
  position: absolute;
  bottom: 60px;
  /*max-width: 1000px;*/
  padding: 0 120px;
}

#show-blog .jumbo-title {
  font-size: 52px;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #fff;
  cursor: default;
  color: blue;
  padding: 0 15px;
  line-height: 1.42857143;
  -webkit-box-decoration-break: clone;
}

#show-blog .whitebg {
  background-color: #fff;
}

#show-blog .meta {
  padding: 50px 120px 0;
  text-transform: uppercase;
  color: #aaa;
}

#show-blog .line {
  border-bottom: 1px solid #ddd;
  margin-top: 40px;
}

#show-blog .meta .date { float: left; }
#show-blog .meta .author { float: right; }

#show-blog .meta .author img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-bottom: 2px;
}

#show-blog .content {
  padding: 20px 120px 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
}

#show-blog .content p {
  margin: 20px 0;
}

#show-blog .content img {
  margin: 20px 0;
}

#show-blog .content h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 40px 0;
}

#show-blog .content .caption {
  position: relative;
  top: -20px;
  font-size: 16px;
  color: #888;
  text-transform: italic;
  margin: 0;
  padding: 0;
}

#show-blog .content h4 {
  font-size: 26px;
  margin: 40px 0;
}


#show-blog .disqus-partial {
  padding: 20px 120px;
}