
#show-event {}

#show-event .jumbohead {
  background: url(http://dft010l2k5dxv.cloudfront.net/ShowEventHeaderImage.jpg);
  background-position: 90% 80%;
  background-repeat: no-repeat;
  background-size: cover;
}

#show-event .bg {
  position: relative;
  background-color: #5AB7D1;
  height: 20em;
  margin-bottom: 40px;
}

#show-event .head {
  position: relative;
  top: 120px;
}

#show-event .head h4,
#show-event .head h2 {
  color: #fff;
}

#show-event .head h4 {
  text-transform: uppercase;
  font-size: 18px;
  color: #dedede;
}

#show-event .head h2 {
  font-size: 48px;
}

#show-event .register {}

#show-event .register h3 {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 24px;
  text-transform: uppercase;
  color: #424242;
}

#show-event .description {
  margin: 60px 0;
}

#show-event #event-register-form {
  margin-bottom: 60px;
}

#show-event #event-register-form input,
#show-event #event-register-form textarea {
  font-size: 20px;
}

#show-event .register-success,
#show-event .register-error {
  display: none;
}

#event-register-form .payment-description {
  padding: 20px 0;
  margin: 20px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#event-register-form .payment-description h4 {
  margin-bottom: 10px;
}

#event-register-form .payment-description p {
  font-size: 14px;
}

#event-register-form .payment-info {
  padding: 20px 0 40px 0;
  margin: 0 0 40px 0;
  border-bottom: 1px solid #ccc;
}

#event-register-form label {
  color: #777;
  font-weight: 400;
}

#event-register-form .exp-year-pull-left {
  position: relative;
  left: -25px;
}

@media (max-width: 62em) {
  #event-register-form .exp-year-pull-left {
    left: 0;
  }
}