
/* Jumbotron */

#show-blog {
  background-color: #fafafa;
}

#show-blog .jumbo {
  position: relative;
  height: 32em;
  margin: 0 -15px;
  z-index: 20;
  background-repeat: no-repeat;
}

#show-blog .wrap {
  position: absolute;
  bottom: 120px;
  padding: 0 40px;
}

#show-blog .jumbo-title {
  font-size: 52px;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #fff;
  cursor: default;
  color: #47AFEB;
  padding: 0 15px;
  line-height: 1.42857143;
  -webkit-box-decoration-break: clone;
}

#show-blog .whitebg {
  /*background-color: #fcfcfc;*/
}

#show-blog .meta {
  color: #999;
  border-radius: 6px;
  padding: 20px 0 10px;
  background-color: #fafafa;
}

#show-blog .line {
  border-bottom: 1px solid #ddd;
}

#show-blog .meta .date,
#show-blog .meta .author {
  display: block;
}

#show-blog .meta .split,
#show-blog .meta .split2 {
  font-size: 18px;
  margin: 0 20px;
  padding: 5px 0 10px;
}

#show-blog .meta .split {
  border-bottom: 1px solid #dfdfdf;
}

#show-blog .meta .date {
  float: left;
  width: 60%;
  border-right: 1px solid #dfdfdf;
}

#show-blog .meta .views-num {
  float: left;
  width: 40%;
  text-align: center;
}

#show-blog .meta .author {
  font-size: 24px;
  color: #888;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 80%;
  margin: 0 auto 30px;
}

#show-blog .meta .author .twitter-handle {
  font-size: 14px;
}

#show-blog .meta .author span {
  position: relative;
  display: block;
  top: 10px;
}

#show-blog .meta .author img {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  margin-bottom: 2px;
}

// #show-blog .on-right {
//   background-color: #fff;
//   padding: 0 20px 0 0;
// }

// #show-blog .on-left {
//   padding: 0 0px 0 20px;
//   border-right: 1px solid #efefef;
// }

// #show-blog .takeupspace {
//   position: relative;
//   top: -60px;
//   height: 100px;
// }


#show-blog .on-left {
  overflow: hidden;
}

#show-blog .post-content {
  margin-top: 40px;
  padding: 15px 10px 40px;
  background-color: #fff;
  font-size: 24px;
  font-weight: 400;
  color: #555;
}

#show-blog .post-content p { margin: 20px 0; }
#show-blog .post-content img { margin: 20px 0; }

#show-blog .post-content h3 {
  font-size: 42px;
  font-weight: bold;
  margin: 40px 0;
}
#show-blog .post-content h4 {
  font-size: 36px;
  margin: 40px 0;
}

#show-blog .post-content .caption {
  position: relative;
  top: -20px;
  font-size: 16px;
  color: #888;
  text-transform: italic;
  margin: 0;
  padding: 0;
}

#show-blog .share {
  margin: 20px 40px 60px;
  padding: 60px 0;
  text-align: center;
}

#show-blog .share h3 {
  font-size: 36px;
  margin-bottom: 40px;
}

#show-blog .share ul {
  list-style: none;
  padding: 0;
}

#show-blog .share .social {
  display: inline-block;
  background-color: #000;
  width: 80px;
  height: 80px;
  padding: 15px;
  border-radius: 50%;
  margin: 0 20px;
}
#show-blog .share .social { color: #fff; }
#show-blog .share .facebook { background-color: #3D5E96; }
#show-blog .share .twitter { background-color: #4FA0FB; }
#show-blog .share .google-plus { background-color: #C35544; }

#show-blog .disqus-partial {
  padding: 20px 40px;
}

@media (max-width: 62em) {
  #show-blog .jumbo {
    height: 26em;
  }

  #show-blog .jumbo .wrap {
  }

  #show-blog .jumbo-title {
    font-size: 32px;
  }
}