
#twitter-slider {
  position: relative;
  background: url("http://themeregion.com/demo/arki/default-images/bg/twitter-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4em 0 8em;
  color: #fff;
  font-size: 20px;
  background-color: #2db7eb;
  text-align: center;
}

// .overlay-bg {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 174, 239, 0.90);
// }

#twitter-slider .twitter-icon {
  position: relative;
  font-size: 60px;
  color: #fff;
  z-index: 10;
  margin-bottom: 25px;
  line-height: 55px;
  text-align: center;
}

#twitter-slider .carousel-indicators {
  bottom: 70px;
}

#twitter-slider .carousel-indicators li {
  background-color: #fff;
  margin: 0 5px;
}

#twitter-slider .carousel-indicators li.active {
  background-color: #0072bc;
  border-color: #0072bc;
}

#twitter-slider .carousel-in {}

#twitter-slider .carousel-in .item {
  transition: transform .6s ease-in-out;
  perspective: 1000px;
  backface-visibility: hidden;
}

#twitter-slider .carousel-in .item.active {}

#twitter-slider .carousel-in .item p {}

#twitter-slider .carousel-in .item a {}