
#contact-us {}

#contact-us .jumbohead {
  background: url(https://dft010l2k5dxv.cloudfront.net/ContactUs_Color.jpg);
  background-position: 90% 80%;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact-us .info {
  padding: 2em 0 0.3em;
  text-align: center;
  font-size: 30px;
}

#contact-us .info h2 {
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  color: #00aeef;
  margin-bottom: 50px;
}

#contact-us .info .address {
  position: relative;
  top: 35px;
  text-align: left;
  font-size: 22px;
  margin-bottom: 60px;
}

#contact-us .info .contact-user {
  text-align: left;
  padding: 0 5px;
}

#contact-us .info .contact-user .email,
#contact-us .info .contact-user .phone {
  font-size: 18px;
}

#google-container {
  width: 100%;
  height: 400px;
}

.contact-form-container {
  padding: 6em 8em 8em;
}

.contact-form-container .head {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

#contact-us .small-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #222;
  text-transform: uppercase;
}

.contact-form-container .head h2 {
  font-size: 36px;
  font-weight: 700;
  color: #00aeef;
}

#contact-form {
  padding: 0 5em;
}

#contact-form input[type=text],
#contact-form input[type=email] {
  margin-bottom: 27px;
  padding: 20px 10px;
  font-size: 20px;
}

#contact-form textarea {
  font-size: 20px;
}

#contact-form__submit {
  /*float: right;*/
}

@media (max-width: 62em) {
  #contact-form {
    padding: 0 1em;
  }

  .contact-form-container {
    padding: 80px 0 80px 0;
  }

  #contact-us .info {
    padding: 40px 0 30px;
  }

  #contact-us .info h2 {
    margin-bottom: -10px;
  }

  #contact-us .info .address {
    font-size: 28px;
    text-align: center;
  }

  #contact-us .info .contact-user {
    text-align: center;
    margin-bottom: 20px;
  }
}