
#our-team .jumbohead {
  background: url(https://lh6.googleusercontent.com/-hBFsVf1GUdA/VwrukMPkXaI/AAAAAAAAAM8/B238mhnE5LY/w1032-h688-no/Our_Team_Header.jpg);
  background-position: 90% 80%;
  background-repeat: no-repeat;
  background-size: cover;
}