

/*
===== contact-us, our-work, and donate share
 */
.jumbohead {
  position: relative;
  height: 26em;
  max-width: 100%;
  /*background: url('https://s3.amazonaws.com/jamesbucket123/staticassets/our-work-nonsat.jpg');
  background-position: 90% 80%;
  background-repeat: no-repeat;
  background-size: cover;*/
}

.overlay-bg {
  position: absolute;
  background-color: rgba(0, 174, 239, 0.80);
  width: 100%;
  height: 100%;
}

#our-work .jumbohead,
#donate .jumbohead,
#contact-us .jumbohead,
#donate .jumbohead {
  background: url('https://s3.amazonaws.com/jamesbucket123/staticassets/our-work-nonsat.jpg');
  background-position: 90% 80%;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbohead .head,
.jumbohead .head,
.jumbohead .head {
  position: relative;
  max-width: 600px;
  margin: 0px auto;
  text-align: center;
  bottom: -180px;
  color: #fff;
}

.jumbohead .head .icon,
.jumbohead .head .icon,
.jumbohead .head .icon {
  width: 100px;
  height: 100px;
  margin: 10px auto;
}

.jumbohead .head h1,
.jumbohead .head h1,
.jumbohead .head h1 {
  font-size: 56px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #fff;

}

#our-work .mission-statement {
  padding: 6em 0;
  text-align: center;
}

#our-work .mission-statement h3 {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #00aeef;
}

#our-work .mission-statement p {
  font-size: 22px;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em 0;
}

#our-work .achivements {
  position: relative;
  color: #fff;
  padding: 6em 0;
  background-image: url('http://demo.themeregion.com/arki/Arki-blue/images/about-us/achivement-bg.jpg')
}

#our-work .achivements .fun-heading {
  max-width: 400px;
  font-size: 20px;
  text-transform: uppercase;
}

#our-work .achivements .fun-heading h3 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 60px;
}

#our-work .achivements .fun-heading p {
  font-size: 20px;
}

#our-work .achivements h3,
#our-work .achivements h4,
#our-work .achivements h5 {
  color: #fff;
}

#our-work .achivements .border-right {
  border-right: 1px solid #fff;
}
#our-work .achivements .border-bottom {
  border-bottom: 1px solid #fff;
}
#our-work .achivements .no-border {
  border: none;
}

#our-work .achivements .fun {
  padding: 2em;
  height: 180px;
  text-align: center;
}

#our-work .achivements .fun h4 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

#our-work .achivements .fun h5 {
  font-size: 24px;
  font-weight: 300;
  font-family: 'Lato', sans-serif !important;
}

#our-work .achivements {}